<style>

#chat2 .form-control {
border-color: transparent;
}

#chat2 .form-control:focus {
border-color: transparent;
box-shadow: inset 0px 0px 0px 1px transparent;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
</style>



<!-- END nav -->
<script>
function setCookie(cookieName, value, exdays){
	var exdate = new Date();
	exdate.setDate(exdate.getDate() + exdays);
	var cookieValue = escape(value) + ((exdays==null) ? "" : "; expires=" + exdate.toGMTString());
	document.cookie = cookieName + "=" + cookieValue;
}

function deleteCookie(cookieName){
	var expireDate = new Date();
	expireDate.setDate(expireDate.getDate() - 1);
	document.cookie = cookieName + "= " + "; expires=" + expireDate.toGMTString();
}

function getCookie(cookieName) {
	cookieName = cookieName + '=';
	var cookieData = document.cookie;
	var start = cookieData.indexOf(cookieName);
	var cookieValue = '';
	if(start != -1){
		start += cookieName.length;
		var end = cookieData.indexOf(';', start);
		if(end == -1)end = cookieData.length;
		cookieValue = cookieData.substring(start, end);
	}
	return unescape(cookieValue);
}


function setScrollAtCookies(){
 	//스크롤 위치 저장
 	var scrollPoint = (document.documentElement && document.documentElement.scrollTop) 
		|| document.body.scrollTop;

	setCookie("category", "mainScrollPoint"); // 쿠키에서 사용할 category에 사용자 정의 카테고리명 세팅
	setCookie("scrollPoint", scrollPoint); // 쿠키에 스크롤 위치 세팅


}


function getScroll(){
	
	var category = getCookie("category"); //setCookie("category")로 세팅한 category 변수 명
	var scrollPoint = getCookie("scrollPoint"); //setCookie("scrollPoint")로 세팅한 스크롤 위치
	var currentCategory = "mainScrollPoint"; //이벤트 발생 후 새로 로드된 현재 페이지의 카테고리 지정
	
	if (category != "" && category != 'undefined' 
		&& category == currentCategory && scrollPoint != "" && scrollPoint != 'undefined') {
	   
		window.scroll(0, scrollPoint); 
		//body.scrollTop(scrollPoint);
	}
}

// 장바구니 제품 추가

function insertCart(item){
	/*<![CDATA[*/
	var email = '[[${session.email}]]';
	/*]]*/	
	
	
	if(email == 'null' || email == ''){
		location.href="/customer/loginForm";
		return false;
	}
	

	
	setScrollAtCookies();	
	var itemKey = item;
	var cnt = 1;

	$.ajax({
		url:"/cart/cartInsert",
		data:{itemKey:itemKey, cnt:cnt},
		method:"POST",
		success: function(data){
			if(confirm("장바구니에 상품이 담겼습니다. 바로 장바구니로 이동하시겠습니까?")){
				location.href="/cart/list";
			}
			getScroll();
		}
		
	});
	
};

function insertWish(item){
	var itemKey = item;
	location.href="/wish/wishInsertToMain?itemKey="+itemKey;
};

</script>


<style>
	.mb-2{
		font-size:small;
	}
	
</style>

    <section id="home-section" class="hero">
		  <div class="home-slider owl-carousel">
	      <div class="slider-item" style="background-image: url(/img/home3.jpg);">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

	            <div class="col-md-12 ftco-animate text-center">

	              <h1 class="mb-2">여러분의 입맛을 사로잡은 "밀키트"는 ??</h1>
	              <h2 class="subheading mb-4">저희가 매주 선정하는 최고의 밀키트를 만나보세요!</h2>
	              <p><a th:href="@{shoplist}" class="btn btn-primary">인기상품 보러가기</a></p>

	            </div>

	          </div>
	        </div>
	      </div>

			


	      <div class="slider-item" style="background-image: url(img/home2.jpg);">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

	            <div class="col-sm-12 ftco-animate text-center">
	              <h1 class="mb-2">최고의 재료, 최고의 레시피</h1>
	              <h2 class="subheading mb-4">항상 신선하고 맛있는 음식을 위해 저희가 준비한 신상품!</h2>
	              <p><a th:href="@{shoplist}" class="btn btn-primary">신상품 보러가기</a></p>
	            </div>

	          </div>
	        </div>
	      </div>
	      
	      <div class="slider-item" style="background-image: url(img/home1.jpg);">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

	            <div class="col-sm-12 ftco-animate text-center">
	              <h1 class="mb-2">이번주만 최대 70% 할인 !</h1>
	              <h2 class="subheading mb-4">"MealKit" 회원만을 위한 이벤트</h2>
	              <p><a th:href="@{shoplist?categoryKey=0&asc_desc=asc&order_cri=sale}" class="btn btn-primary">최저가 보러가기</a></p>
	            </div>

	          </div>
	        </div>
	      </div>
	      
	      
	      <div class="slider-item" style="background-image: url(img/backjong1.jpg);">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

	            <div class="col-sm-12 ftco-animate text-center">
	              <h1 class="mb-2">백종원 선생님과의 콜라보 !</h1>
	              <h2 class="subheading mb-4">"MealKit" 회원만을 위한 백종원 선생님의 레시피 맛!</h2>
	              <p><a th:href="@{shoplist}" class="btn btn-primary">상품 보러가기</a></p>
	            </div>

	          </div>
	        </div>
	      </div>
	      
	    </div>
    </section>

    <section class="ftco-section">
			<div class="container">
				<div class="row no-gutters ftco-services">
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-shipped"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">전국 배송비 무료</h3>
                <span>3만원 이상 구매시</span>
              </div>
            </div>      
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-diet"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">당일 생산 ! 당일 배송 !</h3>
                <span>모든 상품은 항상 당일 생산 제품을 배송해드립니다</span>
              </div>
            </div>    
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-award"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">최고의 재료, 최고의 레시피</h3>
                <span>저희는 최고만을 만듭니다</span>
              </div>
            </div>      
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-customer-service"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">24시간 문의가능</h3>
                <span>언제나 실시간 상담</span>
              </div>
            </div>      
          </div>
        </div>
			</div>
		</section>
		
		
		<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/img/home2.jpg); margin-bottom:8%;">
    	<div class="container">
    		<div class="row justify-content-center py-5">
    			<div class="col-md-9">
		    		<div class="row">
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" th:data-number="${sum}" style="font-size:42px" id="totalCnt">0</strong>
		                <span style="font-size:22px">지금까지 팔린 "MealKit"</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="51" style="font-size:42px">0</strong>
		                <span style="font-size:22px">전국에 있는 매장 수</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="5" style="font-size:42px">0</strong>
		                <span style="font-size:22px">파트너 기업</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" th:data-number="${custSum}" id="totalCust" style="font-size:42px">0</strong>
		                <span style="font-size:22px">총 회원</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>
		

		<section class="ftco-section ftco-category ftco-no-pt">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-6 order-md-last align-items-stretch d-flex">
								<div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url(img/cook.jpg);">
									<div class="text text-center">
										<h2>신선함을 지금 만나보세요!</h2>
										<p>여러분이 원하는 모든 음식을 집앞에서 만나보세요</p>
										<p><a th:href="@{shoplist}" class="btn btn-primary">지금 바로 구매하기</a></p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(img/ko.jpg);">
									<div class="text px-3 py-1">
										<h2 class="mb-0"><a th:href="@{shoplist(categoryKey = 1)}">한식</a></h2>
									</div>
								</div>
								<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(img/ch.jpg);">
									<div class="text px-3 py-1">
										<h2 class="mb-0"><a th:href="@{shoplist(categoryKey = 2)}">중식</a></h2>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(img/jp.jpg);">
							<div class="text px-3 py-1">
								<h2 class="mb-0"><a th:href="@{shoplist?categoryKey=3}">일식</a></h2>
							</div>		
						</div>
						<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(img/en.jpg);">
							<div class="text px-3 py-1">
								<h2 class="mb-0"><a th:href="@{shoplist?categoryKey=4}">양식</a></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="ftco-section">
    	<div class="container">
				<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<span class="subheading"></span>
            <h2 class="mb-4">이번달 인기상품</h2>
            <p>이번달의 최고의 상품들을 골라보세요 ! 여러분들의 입맛을 사로잡은 "밀키트"는 어떤걸까요?</p>
          </div>
        </div>   		
    	</div>
    	<div class="container">
    		<div class="row">
    		
    		<!-- 상품 8개 반복문 -->
    			<div class="col-md-6 col-lg-3 ftco-animate" th:each="i, status:${bestList}">
    			<input type="hidden" th:value="${i.itemKey}">
    				<div class="product">
    				<!-- 이미지 -->
    					<a th:href="@{/shoplist/product(itemKey=${i.itemKey})}" class="img-prod"><img class="img-fluid" th:src="@{/img/product/}+${i.img1}" alt="Colorlib Template">
    					<!-- 할인률 -->
    							<span class="status per" th:if="${i.per > 0}" th:text="${i.per}+'% SALE'"></span>
    							<span style="margin-top:90%;" class="status" th:text="${status.count}+'위'"></span>
    							
    							
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    					
    					<!-- 상품명 -->
    						<h3 style="text-overflow: ellipsis; overflow:hidden; white-space:nowrap;"><a href="#" th:text="${i.name}"></a></h3>
    						<div class="d-flex">
    							<div class="pricing">
    							<!-- 상품 세일가 -->
		    						<p class="price"><span class="mr-2 price-dc" th:if="${i.price != i.sale}" th:text="${i.price}+원"></span><span class="price-sale" th:text="${i.sale}+원"></span></p>
		    					</div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" th:onclick="insertCart([[${i.itemKey}]])" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="#"  th:onclick="insertWish([[${i.itemKey}]])" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart"></i></span>
	    							</a>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    
    <!-- 신상품 보기 -->
     <section class="ftco-section">
    	<div class="container">
				<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<span class="subheading"></span>
            <h2 class="mb-4">이번달 신상품</h2>
            <p>이번달의 신상품을 바로 만나보세요! 여러분의 입맛에 어울리는건 어떤걸까요?</p>
          </div>
        </div>   		
    	</div>
    	<div class="container">
    		<div class="row">
    		
    		<!-- 상품 8개 반복문 -->
    			<div class="col-md-6 col-lg-3 ftco-animate" th:each="i : ${newList}">
    			<input type="hidden" th:value="${i.itemKey}">
    				<div class="product">
    				<!-- 이미지 -->
    					<a th:href="@{/shoplist/product(itemKey=${i.itemKey})}" class="img-prod"><img class="img-fluid" th:src="@{/img/product/}+${i.img1}" alt="Colorlib Template">
    					<!-- 할인률 -->
    						<span class="status per" th:if="${i.per > 0}" th:text="${i.per}+'% SALE'"></span>
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    					
    					<!-- 상품명 -->
    						<h3 style="text-overflow: ellipsis; overflow:hidden; white-space:nowrap;"><a href="#" th:text="${i.name}"></a></h3>
    						<div class="d-flex">
    							<div class="pricing">
    							<!-- 상품 세일가 -->
		    						<p class="price"><span class="mr-2 price-dc" th:if="${i.price != i.sale}" th:text="${i.price}+원"></span><span class="price-sale" th:text="${i.sale}+원"></span></p>
		    					</div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" th:onclick="insertCart([[${i.itemKey}]])" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="#"  th:onclick="insertWish([[${i.itemKey}]])" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart"></i></span>
	    							</a>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    
		
		<section class="ftco-section img" style="background-image: url(img/event1.jpg);">
    	<div class="container">
				<div class="row justify-content-end">
          <div class="col-md-6 heading-section ftco-animate deal-of-the-day ftco-animate">
          	<span class="subheading" style="color : black">이번주만 제공하는 세일!</span>
            <h2 class="mb-4">오직 이번주 까지만 !</h2>
            <p style="color : black">세계의 요리날을 맞이하여, 저희 "MealKit"에서 할인 이벤트를 선보입니다.</p>
            <h3><a href="#" style="color : black">"전 상품이 최대 60% 할인!"</a></h3>
            <span class="price" style="color : black">원하는 상품 <a href="#">구경하기 !</a></span>
            <div id="timer" class="d-flex mt-5">
						  <div class="time" id="days" style="color : black"></div>
						  <div class="time pl-3" id="hours" style="color : black"></div>
						  <div class="time pl-3" id="minutes" style="color : black"></div>
						  <div class="time pl-3" id="seconds" style="color : black"></div>
						</div>
          </div>
        </div>   		
    	</div>
    </section>




<script>
setInterval(() => {
	// 실시간으로 총 판매된 상품 + 회원수 가져오기.
	$.ajax({
		url:"/notice/getLiveData",
		method:"GET",
		success: function(data){
			if($('#totalCnt').text() != data[0]){
				$('#totalCnt').text(data[0]);				
			}
				
			if($('#totalCust').text() == data[1]){				
				$('#totalCust').text(data[1]);
			}
		}
	});
	
}, 1000);
</script>
   
   
