<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
 	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
 	<script>
 		

		$(document).ready(function(){


			var pageNum='[[${pageNum}]]';
			document.getElementById('pageNum'+pageNum).className='active';
			
			//밑에서 보면 categoryList에 담겨있는 category안의 categoryKey이지만,
			//자바스크립트에서 부를 때는 categoryKey라고만 해서 불러야한다
			//category.categoryKey로 부르면 타임리프 문법 에러발생...
			var category='[[${categoryKey}]]';
			document.getElementById('categoryNum'+category).className='active';

			var orderCri='[[${orderCri}]]';
			document.getElementById(orderCri).className='active';
			
			/* var itemKey = '[[${itemKey}]]';
			if($('#forStatus'+itemKey).text()=='0'){
				alert($('.status').text());
			}else{
				$('#forStatus'+itemKey).css('display','none');				
			} */
		});

		
		function insertWish(item){
			alert("찜 목록에 추가되었습니다");
			var itemKey = item;
			location.href="[[@{/wish/wishInsertToList?itemKey=}]]"+itemKey;
		};
		
 	</script>
 	
	<script>
	// 장바구니 제품 추가

function setCookie(cookieName, value, exdays){
	var exdate = new Date();
	exdate.setDate(exdate.getDate() + exdays);
	var cookieValue = escape(value) + ((exdays==null) ? "" : "; expires=" + exdate.toGMTString());
	document.cookie = cookieName + "=" + cookieValue;
}

function deleteCookie(cookieName){
	var expireDate = new Date();
	expireDate.setDate(expireDate.getDate() - 1);
	document.cookie = cookieName + "= " + "; expires=" + expireDate.toGMTString();
}

function getCookie(cookieName) {
	cookieName = cookieName + '=';
	var cookieData = document.cookie;
	var start = cookieData.indexOf(cookieName);
	var cookieValue = '';
	if(start != -1){
		start += cookieName.length;
		var end = cookieData.indexOf(';', start);
		if(end == -1)end = cookieData.length;
		cookieValue = cookieData.substring(start, end);
	}
	return unescape(cookieValue);
}


function setScrollAtCookies(){
 	//스크롤 위치 저장
 	var scrollPoint = (document.documentElement && document.documentElement.scrollTop) 
		|| document.body.scrollTop;

	setCookie("category", "mainScrollPoint"); // 쿠키에서 사용할 category에 사용자 정의 카테고리명 세팅
	setCookie("scrollPoint", scrollPoint); // 쿠키에 스크롤 위치 세팅


}


function getScroll(){
	
	var category = getCookie("category"); //setCookie("category")로 세팅한 category 변수 명
	var scrollPoint = getCookie("scrollPoint"); //setCookie("scrollPoint")로 세팅한 스크롤 위치
	var currentCategory = "mainScrollPoint"; //이벤트 발생 후 새로 로드된 현재 페이지의 카테고리 지정
	
	if (category != "" && category != 'undefined' 
		&& category == currentCategory && scrollPoint != "" && scrollPoint != 'undefined') {
	   
		window.scroll(0, scrollPoint); 
		//body.scrollTop(scrollPoint);
	}
}

// 장바구니 제품 추가

function insertCart(item){
	/*<![CDATA[*/
	var email = '[[${session.email}]]';
	/*]]*/	
	
	
	if(email == 'null' || email == ''){
		location.href="[[@{/customer/loginForm}]]";
		return false;
	}
	

	
	setScrollAtCookies();	
	var itemKey = item;
	var cnt = 1;

	$.ajax({
		url:"[[@{/cart/cartInsert}]]",
		data:{itemKey:itemKey, cnt:cnt},
		method:"POST",
		success: function(data){
			if(confirm("장바구니에 상품이 담겼습니다. 바로 장바구니로 이동하시겠습니까?")){
				location.href="[[@{/cart/list}]]";
			}
			getScroll();
		}
		
	});
	
};


	function searchFunction(){
	    $('#searchingId').submit();
	 };

	</script>


 	
 	<style>
 	  
 	  .pageList > .active{
      background: #82ae46;
      color: #fff;
      border: 1px solid transparent; }
      
	  .categories > .active{
      background: #82ae46;
      color: #fff;
      border: 1px solid transparent; }

	  .alignList > .active{
      background: #82ae46;
      color: #fff;
      border: 1px solid transparent; }
      
 	</style>
 	
 	
    <div class="hero-wrap hero-bread" style="background-image: url('/img/home3.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Products</span></p>
            <h1 class="mb-0 bread">상품</h1>
          </div>
        </div>
      </div>
    </div>



    <section class="ftco-section">
    	<div class="container">
    	
    	
    		<div class="row justify-content-center">
    			<div class="col-md-10 mb-5 text-center">
    				<ul class="product-category">
    					<!-- 카테고리 리스트 -->
    						<li><a th:href="@{/shoplist}" id="categoryNum0">전체 상품</a></li>
    					<li class="categories" th:each="category : ${categoryList}">
    						<a th:href="@{/shoplist(categoryKey = ${category.categoryKey})}" th:id="'categoryNum'+${category.categoryKey}" th:text="${category.name}"></a>
    					</li>
    				</ul>
    				<ul class="product-category">
    					<!-- 정렬 순서 선택 -->
    					<!-- 최신 등록순 -->
    					<li class="alignList"><a th:href="@{/shoplist(categoryKey = ${categoryKey}, ascDesc = 'desc', orderCri='itemKey')}" id="itemKey">최신 등록순</a></li>
						<!-- 판매량순 -->
    					<li class="alignList"><a th:href="@{/shoplist(categoryKey = ${categoryKey}, ascDesc = 'desc', orderCri='orD.cnt')}" id="orD.cnt">판매량 순</a></li>
    					<!-- 이름순 -->
    					<li class="alignList"><a th:href="@{/shoplist(categoryKey = ${categoryKey}, ascDesc = 'asc', orderCri='name')}" id="name">이름순</a></li>
    					<!-- 낮은 가격순 -->
    					<li class="alignList"><a th:href="@{/shoplist(categoryKey = ${categoryKey}, ascDesc = 'asc', orderCri='sale')}" id="sale">낮은 가격순</a></li>
    				</ul>
    			</div>
    		</div>
    		
    		
    		
    		<div class="row">
    		
	    		<!-- 상품 리스트 구간 -->
		    	<th:block th:if="${itemList != 'empty'}" th:each="item : ${itemList}">
		    		<div class="col-md-6 col-lg-3 ftco-animate">
		    			<!-- 각 상품의 한 칸 구역 -->
		    			<div class="product">
		    				<!-- 상품 썸네일 -->
		    				<a th:href="@{/shoplist/product(itemKey = ${item.itemKey})}" class="img-prod"><img class="img-fluid" th:src="@{/img/product/}+${item.img1}" alt="No image">
		    					<!-- 썸네일 위에 표시 되는 할인율 -->
		    					<!-- Thymeleaf의 $ 사인을 쓰고나서 그 안에 또 ${}를 쓰면 에러발생.. -->
		    					<!-- ((item.price-item.sale)/item.price)*100 으로 하면 0이 나오고 -->
		    					<!-- ((item.price-item.sale)*100/item.price) 으로 해야 값이 제대로 나온다 -->
		    					<span th:id="'forStatus'+${item.itemKey}" class="status" th:if="${(item.price-item.sale)*100/item.price > 0}" th:text="${#numbers.formatDecimal(((item.price-item.sale)*100/item.price),0,0)+'% SALE'}"></span>
		    					
		    				</a>
		    				<div class="text py-3 pb-4 px-3 text-center">
		    					<!-- 상품 이름 텍스트 -->
		    					<h3><a th:href="@{/shoplist/product(itemKey = ${item.itemKey})}"><span th:text="${item.name}"></span></a></h3>
		    					<div class="d-flex">
		    						<div class="pricing">
				    					<p class="price"><span class="mr-2 price-dc" th:if="${item.price != item.sale}" th:text="${item.price}+'원'"></span><span class="price-sale" th:text="${item.sale}+'원'"></span></p>
				    				</div>
			    				</div>
			    				<!-- 상품상세, 장바구니, 찜하기 버튼 -->
			    				<div class="bottom-area d-flex px-3">
			    					<div class="m-auto d-flex">
			    						<!-- <a th:href="@{/shoplist/productSingle(itemKey = ${item.itemKey})}" class="add-to-cart d-flex justify-content-center align-items-center text-center">
			    							<span><i class="ion-ios-menu"></i></span>
			    						</a> -->
			    						<a href="#" th:onclick="insertCart([[${item.itemKey}]])" class="buy-now d-flex justify-content-center align-items-center mx-1">
			    							<span><i class="ion-ios-cart"></i></span>
			    						</a>
			    						<a href="#" th:onclick="insertWish([[${item.itemKey}]])" class="heart d-flex justify-content-center align-items-center ">
			    							<span><i class="ion-ios-heart"></i></span>
			   							</a>
		    						</div>
		   						</div>
		   					</div>
		   				</div>
		   			</div>
				</th:block>
				
				<!-- 등록된 상품이 없을 때 -->
				<th:block th:if="${itemList == 'empty'}">
					<p>등록된 상품이 없습니다</p>
				</th:block>
					    		 
	        </div>
    		
    		
    		
    			<!-- 페이징 바 -->
		    	<div class="row mt-5">
		          <div class="col text-center">
		            <div class="block-27">
		              <ul>
		              	<!-- <a>태그의 href는 get방식만 가능하다? -->
		              	
		              	
		              	<!-- th:if="${pageMaker.prev == true에서 ture를 ''로 묶으면 문자열로 인식한다. 따라서 true로 써야 한다 -->
		                <!-- 클래스는 공백으로도 설정이 된다 -->
	                	<!-- 타임리프로 클래스 설정시 문자열이 아닌 값으로 넘긴다 -->

		                <!-- 이전 버튼; categoryKey를 안줘도 페이지가 작동된다? -->
		                <li class="prevbtn"><a th:if="${pageMaker.prev == true}" th:href="@{/shoplist(categoryKey = ${categoryKey}, pageNum = ${pageMaker.pageStart - 1}, ascDesc = ${ascDesc}, orderCri=${orderCri})}">&lt;</a></li>
							<!-- 페이지 번호 출력 -->
		                	<li class="pageList" th:each="pageNum : ${pageNumList}">
		                		<a th:href="@{/shoplist(categoryKey = ${categoryKey}, pageNum = ${pageNum}, ascDesc = ${ascDesc}, orderCri=${orderCri})}" th:id="'pageNum'+${pageNum}" th:text="${pageNum}"></a>
		                	</li>
		                <!-- 다음 버튼; categoryKey를 안줘도 페이지가 작동된다? -->
		                <li class="nextbtn"><a th:if="${pageMaker.next == true}" th:href="@{/shoplist(categoryKey = ${categoryKey}, pageNum = ${pageMaker.pageEnd + 1}, ascDesc = ${ascDesc}, orderCri=${orderCri})}">&gt;</a></li>
		              </ul>
		            </div>
		          </div>
		        </div>
	        
    	</div>
    	
    	<section class="ftco-section ftco-no-pt ftco-no-pb py-5">
	      <div class="container py-9">
	        <div class="row d-flex justify-content-center py-5">
	          <div class="col-md-6">
	          	<h2 style="font-size: 22px;" class="mb-0"></h2>
	          	<span></span>
	          </div>
	          <div class="col-md-6 d-flex align-items-center">
	            <form action="/shoplist" class="subscribe-form" method="get" id="searchingId">
	              <div class="form-group d-flex">
	                <input type="text" name="keyword" class="form-control" placeholder="상품명으로 검색해주세요" style="border: 2px solid #82AE46;">
	                <input type="button" onclick="searchFunction();" value="검색" class="submit px-3">
	              </div>
	            </form>
	          </div>
	        </div>
	      </div>
	    </section>
    </section>

	
    