<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
 	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
 	<script>
 		

		$(document).ready(function(){


			var pageNum='[[${pageNum}]]';
			document.getElementById('pageNum'+pageNum).className='active';
			
			//밑에서 보면 categoryList에 담겨있는 category안의 categoryKey이지만,
			//자바스크립트에서 부를 때는 categoryKey라고만 해서 불러야한다
			//category.categoryKey로 부르면 타임리프 문법 에러발생...
			var category='[[${categoryKey}]]';
			document.getElementById('categoryNum'+category).className='active';

			var order_cri='[[${order_cri}]]';
			document.getElementById(order_cri).className='active';
			
			/* var itemKey = '[[${itemKey}]]';
			if($('#forStatus'+itemKey).text()=='0'){
				alert($('.status').text());
			}else{
				$('#forStatus'+itemKey).css('display','none');				
			} */
		});

		
		function insertWish(item){
			var itemKey = item;
			location.href="/wish/wishInsertToList?itemKey="+itemKey;
		};
		
 	</script>
 	
	<script>
	// 장바구니 제품 추가
	
	function insertCart(item){
		var goOrNot = 2;
		if(confirm("장바구니에 상품이 담겼습니다. 바로 장바구니로 이동하시겠습니까?")){
			goOrNot = 1;
		};
		var itemKey = item;
		var cnt = 1;
		
		alert(goOrNot);
		location.href="/cart/cartInsert?itemKey="+itemKey+"&cnt="+cnt+"&goOrNot="+goOrNot;
	};
	
	function searchFunction(){
		alert($('input[name=keyword]').val());
		$('#searchingId').submit();
	};
	</script>


 	
 	<style>
 	  
 	  .pageList > .active{
      background: #82ae46;
      color: #fff;
      border: 1px solid transparent; }
      
	  .categories > .active{
      background: #82ae46;
      color: #fff;
      border: 1px solid transparent; }

	  .alignList > .active{
      background: #82ae46;
      color: #fff;
      border: 1px solid transparent; }
      
 	</style>
 	
 	
    <div class="hero-wrap hero-bread" style="background-image: url('/img/home3.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Products</span></p>
            <h1 class="mb-0 bread">상품</h1>
          </div>
        </div>
      </div>
    </div>



    <section class="ftco-section">
    	<div class="container">
    	
    	
    		<div class="row justify-content-center">
    			<div class="col-md-10 mb-5 text-center">
    				<ul class="product-category">
    					<!-- 카테고리 리스트 -->
    						<li><a th:href="@{/shoplist}" id="categoryNum0">전체 상품</a></li>
    					<li class="categories" th:each="category : ${categoryList}">
    						<a th:href="@{/shoplist(categoryKey = ${category.categoryKey})}" th:id="'categoryNum'+${category.categoryKey}" th:text="${category.name}"></a>
    					</li>
    				</ul>
    				<ul class="product-category">
    					<!-- 정렬 순서 선택 -->
    					<!-- 최신 등록순 -->
    					<li class="alignList"><a th:href="@{/shoplist(categoryKey = ${categoryKey}, asc_desc = 'desc', order_cri='itemKey')}" id="itemKey">최신 등록순</a></li>
						<!-- 판매량순 -->
    					<li class="alignList"><a th:href="@{/shoplist(categoryKey = ${categoryKey}, asc_desc = 'desc', order_cri='orD.cnt')}" id="orD.cnt">판매량 순</a></li>
    					<!-- 이름순 -->
    					<li class="alignList"><a th:href="@{/shoplist(categoryKey = ${categoryKey}, asc_desc = 'asc', order_cri='name')}" id="name">이름순</a></li>
    					<!-- 낮은 가격순 -->
    					<li class="alignList"><a th:href="@{/shoplist(categoryKey = ${categoryKey}, asc_desc = 'asc', order_cri='sale')}" id="sale">낮은 가격순</a></li>
    				</ul>
    			</div>
    		</div>
    		
    		
    		
    		<div class="row">
    		
	    		<!-- 상품 리스트 구간 -->
		    	<th:block th:if="${itemList != 'empty'}" th:each="item : ${itemList}">
		    		<div class="col-md-6 col-lg-3 ftco-animate">
		    			<!-- 각 상품의 한 칸 구역 -->
		    			<div class="product">
		    				<!-- 상품 썸네일 -->
		    				<a th:href="@{/shoplist/product(itemKey = ${item.itemKey})}" class="img-prod"><img class="img-fluid" th:src="@{/img/product/}+${item.img1}" alt="No image">
		    					<!-- 썸네일 위에 표시 되는 할인율 -->
		    					<!-- Thymeleaf의 $ 사인을 쓰고나서 그 안에 또 ${}를 쓰면 에러발생.. -->
		    					<!-- ((item.price-item.sale)/item.price)*100 으로 하면 0이 나오고 -->
		    					<!-- ((item.price-item.sale)*100/item.price) 으로 해야 값이 제대로 나온다 -->
		    					<span th:id="'forStatus'+${item.itemKey}" class="status" th:text="${#numbers.formatDecimal(((item.price-item.sale)*100/item.price),0,0)+'%'}"></span>
		    					<div class="overlay"></div>
		    				</a>
		    				<div class="text py-3 pb-4 px-3 text-center">
		    					<!-- 상품 이름 텍스트 -->
		    					<h3><a th:href="@{/shoplist/product(itemKey = ${item.itemKey})}"><span th:text="${item.name}"></span></a></h3>
		    					<div class="d-flex">
		    						<div class="pricing">
				    					<p class="price"><span class="mr-2 price-dc" th:text="${item.price}"></span><span class="price-sale" th:text="${item.sale}"></span></p>
				    				</div>
			    				</div>
			    				<!-- 상품상세, 장바구니, 찜하기 버튼 -->
			    				<div class="bottom-area d-flex px-3">
			    					<div class="m-auto d-flex">
			    						<!-- <a th:href="@{/shoplist/productSingle(itemKey = ${item.itemKey})}" class="add-to-cart d-flex justify-content-center align-items-center text-center">
			    							<span><i class="ion-ios-menu"></i></span>
			    						</a> -->
			    						<a href="#" th:onclick="insertCart([[${item.itemKey}]])" class="buy-now d-flex justify-content-center align-items-center mx-1">
			    							<span><i class="ion-ios-cart"></i></span>
			    						</a>
			    						<a href="#" th:onclick="insertWish([[${item.itemKey}]])" class="heart d-flex justify-content-center align-items-center ">
			    							<span><i class="ion-ios-heart"></i></span>
			   							</a>
		    						</div>
		   						</div>
		   					</div>
		   				</div>
		   			</div>
				</th:block>
				
				<!-- 등록된 상품이 없을 때 -->
				<th:block th:if="${itemList == 'empty'}">
					<p>등록된 상품이 없습니다</p>
				</th:block>
					    		 
	        </div>
    		
    		
    		
    			<!-- 페이징 바 -->
		    	<div class="row mt-5">
		          <div class="col text-center">
		            <div class="block-27">
		              <ul>
		              	<!-- <a>태그의 href는 get방식만 가능하다? -->
		              	
		              	
		              	<!-- th:if="${pageMaker.prev == true에서 ture를 ''로 묶으면 문자열로 인식한다. 따라서 true로 써야 한다 -->
		                <!-- 클래스는 공백으로도 설정이 된다 -->
	                	<!-- 타임리프로 클래스 설정시 문자열이 아닌 값으로 넘긴다 -->

		                <!-- 이전 버튼; categoryKey를 안줘도 페이지가 작동된다? -->
		                <li class="prevbtn"><a th:if="${pageMaker.prev == true}" th:href="@{/shoplist(categoryKey = ${categoryKey}, pageNum = ${pageMaker.pageStart - 1}, asc_desc = ${asc_desc}, order_cri=${order_cri})}">&lt;</a></li>
							<!-- 페이지 번호 출력 -->
		                	<li class="pageList" th:each="pageNum : ${pageNumList}">
		                		<a th:href="@{/shoplist(categoryKey = ${categoryKey}, pageNum = ${pageNum}, asc_desc = ${asc_desc}, order_cri=${order_cri})}" th:id="'pageNum'+${pageNum}" th:text="${pageNum}"></a>
		                	</li>
		                <!-- 다음 버튼; categoryKey를 안줘도 페이지가 작동된다? -->
		                <li class="nextbtn"><a th:if="${pageMaker.next == true}" th:href="@{/shoplist(categoryKey = ${categoryKey}, pageNum = ${pageMaker.pageEnd + 1}, asc_desc = ${asc_desc}, order_cri=${order_cri})}">&gt;</a></li>
		              </ul>
		            </div>
		          </div>
		        </div>
	        
    	</div>
    	
    	<section class="ftco-section ftco-no-pt ftco-no-pb py-5">
	      <div class="container py-9">
	        <div class="row d-flex justify-content-center py-5">
	          <div class="col-md-6">
	          	<h2 style="font-size: 22px;" class="mb-0"></h2>
	          	<span></span>
	          </div>
	          <div class="col-md-6 d-flex align-items-center">
	            <form action="/shoplist" class="subscribe-form" method="get" id="searchingId">
	              <div class="form-group d-flex">
	                <input type="text" name="keyword" class="form-control" placeholder="상품명으로 검색해주세요" style="border: 2px solid #82AE46;">
	                <input type="button" onclick="searchFunction();" value="검색" class="submit px-3">
	              </div>
	            </form>
	          </div>
	        </div>
	      </div>
	    </section>
    </section>

	
    