<script>
function priceToString(price) {
    return price.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
}



var arr='[[${saleschart}]]';
var ad=arr.substring(1,arr.length-1);
var array=ad.split(',');

var max = parseInt(array[0]);
for(var i=0; i<array.length; i++){
	if(parseInt(array[i]) > max){
		max = parseInt(array[i]);
	}
	
}
var arr2='[[${salesMatchChart}]]';
var ad2=arr2.substring(1,arr2.length-1);
var array2=ad2.split(',');

var max2 = parseInt(array2[0]);
for(var i=0; i<array2.length; i++){
	if(parseInt(array2[i]) > max2){
		max2 = parseInt(array2[i]);
	}
	
}
//전년도 대비 판매금액 차트 세로축 간격
if(max > max2){
	var max3 = max;
}else{
	var max3 = max2;
}
</script>

	<main class="content">
		<div class="container-fluid p-0">

			<h1 class="h3 mb-3">
				<strong style="font-size:40px;" th:text="${dash.nowYear}+'년'"> </strong> - 현재 매출 현황
			</h1>
			
				
			<div class="row">
				<div class="col-xxl-6 col-xxl-5 d-flex">
					<div class="w-100">
						<div class="row">
							<div class="col-sm-6">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col mt-0">
												<h5 class="card-title" >해당 연도 배송량</h5>
											</div>

											<div class="col-auto">
												<div class="stat text-primary">
													<i class="align-middle" data-feather="truck"></i>
												</div>
											</div>
										</div>
										<h1 class="mt-6 mb-3" th:text="${dash.totalShip}+'건'"></h1>
										<div class="mb-0">
											<span class="text-danger" th:text="${dash.shipIncrease}+'%'"> <i
												class="mdi mdi-arrow-bottom-right" ></i>
											</span> <span class="text-muted">전년도 대비</span>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col mt-0">
												<h5 class="card-title">해당 일 제품 판매수</h5>
											</div>

											<div class="col-auto">
												<div class="stat text-primary">
													<i class="align-middle" data-feather="users"></i>
												</div>
											</div>
										</div>
										<h1 class="mt-6 mb-3" th:text="${dash.totalItemCnt}+'개'"></h1>
										<div class="mb-0">
											<span class="text-success" th:text="${dash.itemCntIncrease}"> <i
												class="mdi mdi-arrow-bottom-right" ></i>
											</span> <span class="text-muted">전년도 대비</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col mt-0">
												<h5 class="card-title">해당 연도 판매액</h5>
											</div>

											<div class="col-auto">
												<div class="stat text-primary">
													<i class="align-middle" data-feather="dollar-sign"></i>
												</div>
											</div>
										</div>
										<h1 class="mt-6 mb-3" th:text="${dash.totalPrice}+'원'"></h1>
										<div class="mb-0">
											<span class="text-success" th:text="${dash.sellIncrease}+'%'"> <i
												class="mdi mdi-arrow-bottom-right"></i>
											</span> <span class="text-muted">전년도 대비</span>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col mt-0">
												<h5 class="card-title">해당 연도 구매확정률</h5>
											</div>

											<div class="col-auto">
												<div class="stat text-primary">
													<i class="align-middle" data-feather="shopping-cart"></i>
												</div>
											</div>
										</div>
										<h1 class="mt-6 mb-3" th:text="${dash.confirmation}+'%'" ></h1>
										<div class="mb-0">
											<span class="text-danger" th:text="${dash.confirmationIncrease}+'%'"> <i
												class="mdi mdi-arrow-bottom-right"></i>
											</span> <span class="text-muted">전년도 대비</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-3 col-md-3 col-xxl-3 d-flex order-1 order-xxl-1">
					<div class="card flex-fill">
						<div class="card-header">

							<h5 class="card-title mb-0">연도별 조회</h5>
							<button type="button" class="btn btn-sm btn-primary"
													id="btnList" style="float: right;"
													onclick="getDate()">조회</button>
						</div>
						<div class="card-body d-flex">
							<div class="align-self-center w-100">
								<div class="chart">
									<div id="datetimepicker-dashboard"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-3 col-md-3 col-xxl-3 d-flex order-2 order-xxl-3">
					<div class="card flex-fill w-100">
						<div class="card-header">

							<h5 class="card-title mb-0">해당 연도 카테고리별 판매 비율</h5>
						</div>
						<div class="card-body d-flex">
							<div class="align-self-center w-100">
								<div class="py-3">
									<div class="chart chart-xs">
										<canvas id="chartjs-dashboard-pie"></canvas>
									</div>
								</div>

									<table class="table mb-0">
									<tbody>
										<tr>
											<td>카테고리</td>
											<td>총금액</td>
											<td>판매량</td>
										</tr>
										<tr>
											<td>한식</td>
											<td th:if="${koreanSum} == null">0원</td>
											<td th:unless="${koreanSum} == null" id="commaKS"></td>
											
											<td th:if="${koreanCnt} == null">0개</td>
											<td th:unless="${koreanCnt} == null" th:text="${koreanCnt} +'개'"></td>
											
										</tr>
										<tr>
											<td>중식</td>
											<td th:if="${chineseSum} == null">0원</td>
											<td th:unless="${chineseSum} == null" id="commaCS"></td>
											
											<td th:if="${chineseCnt} == null">0개</td>
											<td th:unless="${chineseCnt} == null" th:text="${chineseCnt} +'개'"></td>
										</tr>
										<tr>
											<td>일식</td>
											<td th:if="${japaneseSum} == null">0원</td>
											<td th:unless="${japaneseSum} == null" id="commaJS"></td>
											
											<td th:if="${japaneseCnt} == null">0개</td>
											<td th:unless="${japaneseCnt} == null" th:text="${japaneseCnt} +'개'"></td>
										</tr>
										<tr>
											<td>양식</td>
											<td th:if="${usSum} == null">0원</td>
											<td th:unless="${usSum} == null" id="commaUS"></td>
											
											<td th:if="${usCnt} == null">0개</td>
											<td th:unless="${usCnt} == null" th:text="${usCnt} +'개'"></td>
										</tr>
									</tbody>
								</table>	
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xl-12 col-xxl-12">
					<div class="card flex-fill w-100">
						<div class="card-header">
							<h5 class="card-title mb-0">해당 연도 매출 차트</h5>
						</div>
						<div class="card-body py-3">
							<div class="chart chart-sm">
								<canvas id="chartjs-dashboard-line"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
						
			
			
			
			
			
			
			<div class="row">
				<div class="col-12 col-lg-12">
					<div class="card">
						<div class="card-header">
							<h5 class="card-title">전년도 대비 판매금액</h5>
							<h6 class="card-subtitle text-muted"></h6>
						</div>
						<div class="card-body">
							<div class="chart">
								<canvas id="chartjs-bar"></canvas>
							</div>
						</div>
					</div>
				</div>	
			</div>
				
				
			
				





			<div class="row">
				<div class="col-6 col-lg-6 col-xxl-6 d-flex">
					<div class="card flex-fill">
						<div class="card-header">

							<h5 class="card-title mb-0">판매순위 BEST 10</h5>
						</div>
						<table class="table table-hover my-0">
							<thead>
								<tr>
									<th>순위</th>
									<th>상품명</th>
									<th class="d-none d-xl-table-cell">가격</th>
									<th>판매 수량 (개)</th>
									<th>총 판매 금액</th>
								</tr>
							</thead>
							<tbody >
								
								<tr th:each="y, yS : ${yearMthlyList}">
									<td th:text="${yS.count}"></td>
									<td th:text="${y.itemName}"></td>

									<td data-th-text="${#numbers.formatInteger(y.price, 3, 'COMMA') + '원'}" class="d-none d-xl-table-cell"></td>
									<td th:text="${y.totCnt}" class="d-none d-xl-table-cell"></td>
									<td data-th-text="${#numbers.formatInteger(y.totPrice, 3, 'COMMA') + '원'}" class="d-none d-xl-table-cell"></td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
			
			
			
				<div class="col-6 col-lg-6 col-xxl-6 d-flex">
					<div class="card flex-fill">
						<div class="card-header">

							<h5 class="card-title mb-0">판매순위 WORST 10</h5>
						</div>
						<table class="table table-hover my-0">
							<thead>
								<tr>
									<th>순위</th>
									<th>상품명</th>
									<th class="d-none d-xl-table-cell">가격</th>
									<th>판매 수량 (개)</th>
									<th>총 판매 금액</th>
								</tr>
							</thead>
							<tbody>
							<tr th:each="b, yS : ${yearBOT10List}">
									<td th:text="${yS.count}"></td>
									<td th:text="${b.itemName}"></td>

									<td data-th-text="${#numbers.formatInteger(b.price, 3, 'COMMA') + '원'}" class="d-none d-xl-table-cell"></td>
									<td th:text="${b.totCnt}" class="d-none d-xl-table-cell"></td>
									<td data-th-text="${#numbers.formatInteger(b.totPrice, 3, 'COMMA') + '원'}" class="d-none d-xl-table-cell"></td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
			</div>
	

		</div>
	</main>
</div>
</div>

<script src="js/app.js"></script>

<script>
	document.addEventListener("DOMContentLoaded", function() {
		var ctx = document.getElementById("chartjs-dashboard-line").getContext(
				"2d");
		var gradient = ctx.createLinearGradient(0, 0, 0, 225);
		gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
		gradient.addColorStop(1, "rgba(215, 227, 244, 0)");
		// Line chart
		new Chart(document.getElementById("chartjs-dashboard-line"), {
			type : "line",
			data : {
				labels : [ "1월", "2월", "3월", "4월", "5월",
						"6월", "7월", "8월", "9월", "10월", "11월",
						"12월"],
				datasets : [ {
					label : "판매금 (원) ",
					fill : true,
					backgroundColor : gradient,
					borderColor : window.theme.primary,
					data : array
				} ]
			},
			options : {
				maintainAspectRatio : false,
				legend : {
					display : false
				},
				tooltips : {
					intersect : false
				},
				hover : {
					intersect : true
				},
				plugins : {
					filler : {
						propagate : false
					}
				},
				scales : {
					xAxes : [ {
						reverse : true,
						gridLines : {
							color : "rgba(0,0,0,0.0)"
						}
					} ],
					yAxes : [ {
						ticks : {
							min : 0,
							stepSize : parseInt(max/3/10000)*10000,
							max : max
						},
						display : true,
						borderDash : [ 3, 3 ],
						gridLines : {
							color : "rgba(0,0,0,0.0)"
						},
						scaleLabel: {
							display: true,
							labelString: '단위: 원'}
					} ]
				}
			}
		});
	});
</script>
<script>
	document.addEventListener("DOMContentLoaded", function() {
		// Pie chart
		new Chart(document.getElementById("chartjs-dashboard-pie"), {
			type : "pie",
			data : {
				labels : [ "한식", "중식", "일식", "양식" ],
				datasets : [ {
					data : [ "[[${koreanSum}]]", "[[${chineseSum}]]", "[[${japaneseSum}]]", "[[${usSum}]]"],
					backgroundColor : [  window.theme.danger, 
							window.theme.warning, window.theme.success, window.theme.primary ],
					borderWidth : 5
				} ]
			},
			options : {
				responsive : !window.MSInputMethodContext,
				maintainAspectRatio : false,
				legend : {
					display : false
				},
				cutoutPercentage : 75
			}
		});
	});
</script>

<script>
	document.addEventListener("DOMContentLoaded", function() {
		var date = new Date(Date.now() - 5 * 24 * 60 * 60 * 1000);
		var defaultDate = date.getUTCFullYear() + "-"
				+ (date.getUTCMonth() + 1) + "-" + date.getUTCDate();
		document.getElementById("datetimepicker-dashboard").flatpickr({
			inline : true,
			prevArrow : "<span title=\"Previous month\">&laquo;</span>",
			nextArrow : "<span title=\"Next month\">&raquo;</span>",
			defaultDate : defaultDate
		});
	});


	
</script>


<script>
	document.addEventListener("DOMContentLoaded", function() {
		// Bar chart
		new Chart(document.getElementById("chartjs-bar"), {
			type : "bar",
			data : {
				labels : ["1월", "2월", "3월", "4월", "5월",
					"6월", "7월", "8월", "9월", "10월", "11월",
					"12월"], 
				datasets : [ {
					label : "해당연도 판매금액 (원) ",
					backgroundColor : window.theme.primary,
					borderColor : window.theme.primary,
					hoverBackgroundColor : window.theme.primary,
					hoverBorderColor : window.theme.primary,
					data : array,
					barPercentage : .4,
					categoryPercentage : .2
				}, {
					label : "전년도 판매금액 (원) ",
					backgroundColor : "#dee2e6",
					borderColor : "#dee2e6",
					hoverBackgroundColor : "#dee2e6",
					hoverBorderColor : "#dee2e6",
					data : array2,
					barPercentage : .4,
					categoryPercentage : .2
				} ]
			},
			options : {
				maintainAspectRatio : false,
				legend : {
					display : false
				},
				scales : {
					yAxes : [ {
						gridLines : {
							display : false,
						},
						stacked : false,
						ticks : {
							min : 0,
							stepSize : parseInt(max3/3/10000)*10000,
							max : max3
						},
						scaleLabel: {
							display: true,
							labelString: '단위: 원'}
					} ],
					xAxes : [ {
						stacked : false,
						gridLines : {
							color : "transparent"
						}
					} ]
				}
			}
		});
	});
</script>


<script>
	function getDate() {
		var date = $(".selected").attr("aria-label"); //February 1, 2023
		if(date == null){
			alert("년,월,일을 선택해주세요.");
			return false;
		}
		var arr = date.split(/ |,/);	//[February,  1, '',  2023]
	
		
		var map = new Map();
		map.set('January', 1);
		map.set('February', 2);
		map.set('March', 3);
		map.set('April', 4);
		map.set('May', 5);
		map.set('June', 6);
		map.set('July', 7);
		map.set('August', 8);
		map.set('September', 9);
		map.set('October', 10);
		map.set('November', 11);
		map.set('December', 12);

		
		var year = arr[3];
		
		var month = map.get(arr[0]);
		if (month < 10) {
			month = "0" + month; //01~09월
		} 


		var day = arr[1];
		if (day < 10) {
			day = day.padStart(2, '0'); //01~09일
		}

		
		//날짜 조회 유효성검사
		var today = new Date();
		
		var todayY = today.getFullYear();
		var todayM = today.getMonth() + 1;
		var todayD = today.getDate(); 
		
		if(year > todayY){
			alert("해당 기간의 조회가 불가능합니다.");
			return false;
		
		}else if(year == todayY && month > todayM){
			alert("해당 기간의 조회가 불가능합니다.");
			return false;
			
		}else if(year == todayY && month == todayM && day > todayD){
			alert("해당 기간의 조회가 불가능합니다.");
			return false;
		}

		location.href="/admin/yearanalyze?year="+year;

	}
	
var commaKS=priceToString("[[${koreanSum}]]");
var commaCS=priceToString("[[${chineseSum}]]");
var commaJS=priceToString("[[${japaneseSum}]]");
var commaUS=priceToString("[[${usSum}]]");
$('#commaKS').text(commaKS+'원');
$('#commaCS').text(commaCS+'원');
$('#commaJS').text(commaJS+'원');
$('#commaUS').text(commaUS+'원');


</script>


</body>

</html>