<script src="https://code.jquery.com/jquery-latest.min.js"></script>

<div class="hero-wrap hero-bread"
	style="background-image: url('/img/home3.jpg');">
	<div class="container">
		<div
			class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs">
					<span class="mr-2"><a th:href="@{/}" style="font-size:30px;">Delivery</a></span>
				</p>
				<h1 class="mb-0 bread" style="font-size:60px;">주문상세</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div>
					<table class="table">
						<thead class="thead-primary">
							<tr class="text-center">
								<th style="width: 7%">주문번호</th>
								<th style="width: 10%">받으시는 분</th>
								<th style="width: 13%">전화번호</th>
								<th style="width: 10%">결제금액</th>
								<th>배송지</th>
								<th>주문상태</th>
								<th>구매날짜</th>
								<th style="width: 12%">환불요청</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center">
								<td th:text="${order.orderKey}"></td>
								<td class="name" th:text="${order.name}"></td>
								<td class="tel" th:text="${order.tel}"></td>
								<td class="price" th:text="${order.price}+'원'"></td>
								<td class="address"
									th:text="${order.addr}+', '+${order.addrDetail}"></td>

								<div th:if="${order.status == 'Q'}">
									<td><span style="font-size: 15px; color: white"
										class="badge bg-danger">환불요청</span></td>
								</div>

								<div th:if="${order.status == 'D'}">
									<td><span style="font-size: 15px; color: white"
										class="badge bg-warning">배송중</span></td>
								</div>

								<div th:if="${order.status == 'S'}">
									<td><span style="font-size: 15px; color: white"
										class="badge bg-success">배송완료</span></td>
								</div>

								<div th:if="${order.status == 'F'}">
									<td><span style="font-size: 15px; color: white"
										class="badge bg-info">환불완료</span></td>
								</div>

								<div th:if="${order.status == 'R'}">
									<td><span style="font-size: 15px; color: white"
										class="badge bg-info">배송준비중</span></td>
								</div>

								<div th:if="${order.status == 'O'}">
									<td><span style="font-size: 15px; color: white"
										class="badge bg-secondary">주문완료</span></td>
								</div>

								<td class="rdate" th:text="${order.rdate}"></td>
								
								<div th:if="${order.status != 'Q'} AND ${order.status != 'F'}">
									<td>
										<button id="refund"
											class="btn btn-primary py-3 px-4"
											style="color: none !important; font-size:15px;">환불하기</button>
									</td>
								</div>
							</tr>
							<!-- END TR-->

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="w-100"></div>
	<div class="w-100"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div>
					<table class="table">
						<thead class="thead-primary">
							<tr class="text-center">
								<th style="width: 10%">&nbsp;</th>
								<th style="width: 20%">상품명</th>
								<th style="width: 10%">가격</th>
								<th style="width: 13%">수량</th>
								<th style="width: 10%">결제금액</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="l:${list}" class="text-center">
								<td class="name"><a th:href="@{/}"><img
										th:src="@{/img/}+${l.itemImg}"></a></td>
								<td class="name"><a th:href="@{/}"><span
										th:text="${l.itemName}"></span></a></td>
								<td class="price" th:text="${l.price}">가격</td>
								<td class="cnt" th:text="${l.cnt}">개수</td>
								<td class="total" th:text="${l.price}*${l.cnt}">총 가격</td>
							</tr>
							<!-- END TR-->

						</tbody>
					</table>
					<div th:if="${order.status != 'O'} AND ${order.status != 'R'}">
						<td>
							<button th:onclick="trackingNum([[${order.trackingNum}]])"
								class="btn btn-primary py-3 px-4"
								style="color: none !important; float:right; font-size:15px;">배송 조회하기</button>
						</td>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<script>
$('#refund').click(function(){
	window.open('[[@{/order/refundform}]]?orderKey=[[${order.orderKey}]]','popup','width=800px,height=550px,resizable=no')
}); 
</script>

<script>
	function trackingNum(num){
		location.href='/order/orderTracking?trackingNum='+num;
	}
</script>
