<script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <div class="hero-wrap hero-bread" style="background-image: url('/img/home3.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a th:href="@{/}">Home</a></span></p>
            <h1 class="mb-0 bread">주문내역</h1>
          </div>
        </div>
      </div>
    </div>
 <script>
function go(order_key){
	location.href="/customer/orderdetail?order_key="+order_key;
}
 </script>

 <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						      	<th style="width:10%">&nbsp;</th>
						      	<th style="width:20%">상품정보</th>
						        <th style="width:10%">받으시는 분</th>
						        <th style="width:13%">전화번호</th>
						        <th style="width:10%">결제금액</th>
						        <th>배송지</th>
						        <th style="width:11.5%"></th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr th:each="l:${list}" class="text-center">
						      	<td class="img1"><img th:src="@{/img/}+${l.item_img}" style="width:80px"></td>
						      	<td class="text" th:if="${l.item_cnt>1}"th:text="${l.item_name}+' 외 '+${l.item_cnt-1}+'개 제품'"></td>
						      	<td class="text" th:if="${l.item_cnt==1}"th:text="${l.item_name}"></td>
						      	<td class="name" th:text="${l.name}"></td>
						        <td class="tel" th:text="${l.tel}"></td>
						      	<td class="price" th:text="${l.price}+'원'"></td>
						        <td class="address" th:text="${l.addr}+', '+${l.addr_detail}"></td>           
						      	<td><button th:onclick="go([[${l.order_key}]])" class="btn btn-primary py-3 px-4" style="color:white !important;" id="detail">상세보기</button></td>
						      </tr><!-- END TR-->

						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
			</div>
		</section>
