<main class="content">
	<div class="container-fluid p-0">

		<h1 class="h3 mb-3">이벤트/공지 등록</h1>
		<form name="registerForm" id="registerForm"  enctype="multipart/form-data">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h5 class="card-title mb-0">이벤트/공지</h5>
						</div>
						<input type="hidden" id="adminKey" name="adminKey" th:value="${adminKey}" >
						<div class="card-header">
							<div class="card-title mb-0">종류</div>
							<br> <label class="form-check form-check-inline"> <input
								class="form-check-input" type="radio" name="ntype"
								value="N"> <span class="form-check-label"> 공지 </span>
							</label> <label class="form-check form-check-inline"> <input
								class="form-check-input" type="radio" name="ntype"
								value="E"> <span class="form-check-label"> 이벤트 </span>
							</label>
						</div>
						<div class="card-header">
							<div class="card-title mb-0">제목</div>
						</div>
						<div class="card-body">
							<input type="text" id="title" name="title" class="form-control" maxlength="45"
								placeholder="제목을 입력해주세요.">
						</div>
						<div class="card-header">
							<div class="card-title mb-0">작성자</div>
						</div>
						<div class="card-body">
							<input type="text" id="writer" name="writer" class="form-control" th:value="${name}" readonly="readonly">
						</div>
						<div class="card-header">
							<div class="card-title mb-0">사진 (최대 2개)</div>
						</div>
						<div class="card-body">
							<input type="file" id="imgFile1" name="imgFile1" class="form-control">
						</div>
						<div class="card-body">
							<input type="file" name="imgFile2" class="form-control">
						</div>
						<div class="card-body">
							<a class="form-control" style="text-align:center" onclick="register()">글 등록하기</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</main>

<script>
function register(){
	
	if(!document.querySelector('input[type=radio][name=ntype]:checked')){
		alert('글 분류를 선택해주세요.')
		return false;
	}
	
	if(!document.getElementById("title").value){
		alert('제목을 입력해주세요.');
		return false;
	}
	
	if(!document.getElementById("imgFile1").value){
		alert('1번 파일을 첨부해주세요.');
		return false;
	}
	
	document.registerForm.enctype= 'multipart/form-data';
	document.registerForm.action = '/admin/notice/register';
	document.registerForm.method = 'POST';
	document.registerForm.submit();
}
	
</script>