

<div class="row">
	<div class="col-12 col-lg-12 col-xxl-12 d-flex">
		<div class="card flex-fill">
			<div class="card-header">
				<h5 class="card-title mb-0" style="font-size: 30px;">후기 내역</h5>
				<div class="hero-wrap hero-bread"
					style="background-image: url('/img/home3.jpg');">
					<div class="container">
						<div
							class="row no-gutters slider-text align-items-center justify-content-center">
							<div class="col-md-9 ftco-animate text-center">
								</br>
								<p style="font-size: 20px;" class="breadcrumbs">
									<span class="mr-2"><a th:href="@{/}">문의 및 후기</a></span>
								</p>
								<h1 class="mb-0 bread" style="font-size: 48px;">문의 내역</h1>
							</div>
						</div>
					</div>
				</div>
				<section class="ftco-section ftco-degree-bg">
					<div class="container">
						<div class="row">
							<div class="col-lg-12 ftco-animate">
								<tr>
									<div th:text="${board.boardKey}" name="boardKey"></div>
									<div>
										글제목
										<td><h2 class="mb-3" th:text="${board.title}"></h2></td>
									</div>
									<div th:text="${board.username}"></div>
									<button type="button" class="btn btn-sm btn-primary"
										id="btnList" style="float: right;"
										th:onclick="reviewDelete([[${board.boardKey}]])">글 삭제</button>
									<div th:text="${board.rdate}"></div>
								</tr>
								<hr>

								<p>
									<img src="images/image_1.jpg" alt="" class="img-fluid">
								</p>
								<p th:text="${board.content}"></p>
								<div style="margin-top: 20px">
									<br>
									<br>
									<br>
								</div>

								<hr>
								<button type="button" class="btn btn-sm btn-primary"
									id="btnList"
									th:onclick="'location.href=\''+ @{/board/reviewlist} + '\''">글
									리스트 보기</button>

								<div th:if="${replyboard != null}" class="container px-5 my-5">

									<h3 class="mb-5">관리자 답변</h3>
									<ul class="comment-list">
										<li>
											<hr>
											<div class="vcard bio"></div>
											<div class="comment-body">
												<h3>관리자</h3>
												<div class="meta" th:text="${replyboard.rdate}"></div>
												<p th:text="${replyboard.content}"></p>
											</div>
										</li>
									</ul>
									<!-- END comment-list -->
								</div>
							</div>
						</div>
					</div>
			</div>
			<!-- .col-md-8 -->
			<div class="col-lg-4 sidebar ftco-animate">
				<div class="sidebar-box"></div>
			</div>

			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />

		</div>
		</section>

	<script>
   function reviewDelete(boardKey){
   	alert("정말 삭제하시겠습니까?");
   	location.href="/admin/board/reviewDelete?boardKey="+boardKey;
   }
   
   </script>