<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.AdminMapper">
	<select id="login" resultType="AdminDTO">
		SELECT * FROM admin WHERE adminId LIKE #{adminId} AND adminPwd LIKE #{adminPwd}
	</select>
	<insert id="createId" parameterType="String">
		INSERT INTO admin(adminId, adminPwd,name) VALUES(#{adminId},#{adminPwd},#{name});
	</insert>
	<update id="updatePwd">
		UPDATE admin SET adminPwd=#{adminPwd} WHERE adminId=#{adminId}
	</update>
	<select id="getPwd" parameterType="String" resultType="String">
		SELECT adminPwd FROM admin WHERE adminId=#{adminId}
	</select>
</mapper>