<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.AnalyzeMapper">

	<!-- 주어진 년도에 해당되는 판매액, 배송건, 구매확정률에 대한 데이터 -->
	<select id="dashBoardCardYear" resultType="OrderDTO">
	SELECT COUNT(orderKey) AS "itemCnt", SUM(price) AS "price",
	(SELECT COUNT(orderKey) FROM totalOrder WHERE rdate BETWEEN '${year}-01-01 00:00:00' AND '${year}-12-31 23:59:59' AND status NOT LIKE 'F' ) AS "status",
	(SELECT COUNT(orderKey) FROM totalOrder WHERE rdate BETWEEN '${year}-01-01 00:00:00' AND '${year}-12-31 23:59:59' AND status LIKE 'F') AS "refund" 
	FROM totalOrder
	WHERE rdate BETWEEN '${year}-01-01 00:00:00' AND '${year}-12-31 23:59:59' AND status NOT LIKE 'F';
	</select>

	<!-- 주어진 년도, 월에 해당되는 판매액, 배송건, 구매확정률에 대한 데이터 -->
	<select id="dashBoardCardMonth" resultType="OrderDTO">
	SELECT COUNT(orderKey) AS "itemCnt", SUM(price) AS "price",
	(SELECT COUNT(orderKey) FROM totalOrder WHERE rdate BETWEEN '${year}-${month}-01 00:00:00' AND '${year}-${month}-31 23:59:59' AND status NOT LIKE 'F' ) AS "status",
	(SELECT COUNT(orderKey) FROM totalOrder WHERE rdate BETWEEN '${year}-${month}-01 00:00:00' AND '${year}-${month}-31 23:59:59' AND status LIKE 'F') AS "refund" 
	FROM totalOrder
	WHERE rdate BETWEEN '${year}-${month}-01 00:00:00' AND '${year}-${month}-31 23:59:59' AND status NOT LIKE 'F';
	</select>
	
	<!-- 주어진 년도, 월, 일 에 해당되는 판매액, 배송건, 구매확정률에 대한 데이터 -->
	<select id="dashBoardCardDay" resultType="OrderDTO">
	SELECT COUNT(orderKey) AS "itemCnt", SUM(price) AS "price",
	(SELECT COUNT(orderKey) FROM totalOrder WHERE rdate BETWEEN '${year}-${month}-${day} 00:00:00' AND '${year}-${month}-${day} 23:59:59' AND status NOT LIKE 'F' ) AS "status",
	(SELECT COUNT(orderKey) FROM totalOrder WHERE rdate BETWEEN '${year}-${month}-${day} 00:00:00' AND '${year}-${month}-${day} 23:59:59' AND status LIKE 'F') AS "refund" 
	FROM totalOrder
	WHERE rdate BETWEEN '${year}-${month}-${day} 00:00:00' AND '${year}-${month}-${day} 23:59:59' AND status NOT LIKE 'F';
	</select>


</mapper>