<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.admin.mapper.CustomerMapper">
 	<!-- 전체선택 -->
	<select id="selectall" resultType="CustomerDTO">
		SELECT * FROM customer
	</select>
	
	<!-- 모든 회원 데이터 갯수 세기 -->
	<select id="countCust" resultType="int" parameterType="Criteria">
		SELECT count(*) FROM customer 
		
		<where>
			<if test="emailKeyword != null">
				and email like concat('%' , #{emailKeyword}, '%')
			</if>
			<if test="nameKeyword != null">
				and username like concat('%' , #{nameKeyword}, '%')
			</if>
			<if test="phNumberKeyword != null">
				and tel like replace(#{phNumberKeyword},'-','')
			</if>
		</where>
		
		ORDER BY ${orderCri} ${ascDesc}
	</select>
	
	<select id="getCustList" resultType="CustomerDTO" parameterType="Criteria">
		SELECT * FROM customer
		
		<where>
			<if test="emailKeyword != null">
				and email like concat('%', #{emailKeyword}, '%')
			</if>
			<if test="nameKeyword != null">
				and username like concat('%' , #{nameKeyword}, '%')
			</if>
			<if test="phNumberKeyword != null">
				and tel like replace(#{phNumberKeyword},'-','')
			</if>
		</where>
		
		ORDER BY ${orderCri} ${ascDesc}
		LIMIT ${skip}, ${amount}
	</select>
	

	<!-- 회원 차단 설정 -->
	<update id="changeLocked" parameterType="CustomerDTO">
		UPDATE customer SET banned = #{banned} WHERE custKey = ${custKey}
	</update>
	
	<select id="custJumin" parameterType="int" resultType="CustomerDTO">
		SELECT * FROM customer WHERE custKey = ${custKey};
	</select>
	
</mapper>




