<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.AddressMapper">
	<!-- 기본 배송지 확인 -->
	<select id="check_default" parameterType="Integer" resultType="AddressDTO">
		SELECT * FROM address WHERE custKey=${custKey} AND def LIKE 'Y'
	</select>
	<!-- 회원의 배송지 확인 -->
	<select id="user_addr" parameterType="Integer" resultType="AddressDTO">
		SELECT * FROM address WHERE custKey=${custKey}
	</select>
	<!-- addrKey를 이용하여 주소지 가져오기 -->
	<select id="addrKey" resultType="AddressDTO">
		SELECT * FROM address WHERE addrKey=${select}
	</select>
	<!-- 배송지 추가하기 -->
	<insert id="insertAddress">
		INSERT INTO address(custKey, name, zipcode, addr, addrDetail, tel, req) VALUES(${custKey}, #{address.name}, #{address.zipcode}, #{address.addr}, #{address.addrDetail}, #{address.tel},#{address.req})
	</insert>
	<delete id="delete" parameterType="Integer">
		DELETE FROM address WHERE addrKey=${addrKey}
	</delete>
</mapper>