<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.CartMapper">
	<!-- 주문 완료시 장바구니를 제거 -->
	<delete id="cartDelete" parameterType="Integer">
		DELETE FROM cart WHERE custKey=${custKey}
	</delete>

	<!-- 사용자 장바구니 리스트 가져오기  SELECT FROM customer's cart info-->
	<select id="CartList" parameterType="Integer" resultType="CartDTO">
		SELECT c.custKey AS
		"custKey", c.itemKey AS "itemKey", c.cartKey AS "cartKey", c.cnt
		AS "cnt", c.rdate AS "rdate", i.price AS "price", i.sale AS "sale",
		i.img1 AS "img1", i.name AS "name" FROM cart c
		JOIN customer cust ON cust.custKey = c.custKey
		JOIN item i ON i.itemKey = c.itemKey
		WHERE c.custKey = ${custKey}
	</select>
	
	<!-- 사용자의 장바구니 제품 삭제하기 -->
	<delete id="delete" parameterType="Integer">
		DELETE FROM cart WHERE cartKey = ${cartKey}
	</delete>
	
	<!-- 사용자의 장바구니 제품 수량 변경하기 -->
	<update id="update">
		UPDATE cart SET cnt=${cnt} WHERE cartKey = ${cartKey}
	</update>
	
	<!-- 사용자의 장바구니에 담긴 상품 개수 가져오기 -->
	<select id="cntCart" resultType="int" parameterType="Integer">
		SELECT count(cartKey) AS "cartcnt" FROM cart WHERE custKey = ${custKey};
	</select>
	
	
	<!-- 장바구니에 제품 담기. -->
	<insert id="insertCart">
		INSERT INTO cart(custKey, itemKey, cnt) VALUES(${custKey}, ${itemKey}, ${cnt});
	</insert>
	
	<!-- 장바구니에 존재하는 제품 추가시 수량 증가 -->
	<update id="increaseCart">
		UPDATE cart SET cnt=cnt+${cnt} WHERE cartKey=${cartKey}
	</update>

	
</mapper>