<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.OrderDetailMapper">
	<!-- cart의 내용을 주문상세에 입력 -->
	<insert id="cart_to_detail">
		INSERT INTO orderDetail(orderKey, itemKey, price, cnt) 
		VALUES(
		(SELECT orderKey FROM totalOrder WHERE custKey=${custKey} ORDER BY orderKey DESC LIMIT 1),
		${o.itemKey}, ${o.itemSale},${o.itemCnt})
	</insert>
	<!-- orderKey 이용해서 주문상세 갖고오기 -->
	<select id="get_orderdetail_by_orderkey" parameterType="Integer" resultType="OrderDetailDTO">
		SELECT od.price, i.name AS item_name, od.cnt, i.img1 AS itemImg FROM item i
		INNER JOIN orderDetail od on i.itemKey=od.itemKey
		WHERE orderKey=${orderKey};
	</select>
</mapper>