
    <div class="hero-wrap hero-bread" style="background-image: url('/img/home3.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/img/home2.jpg);">
						<a href="https://www.youtube.com/watch?v=Warh8_KOUJI" class="icon popup-vimeo d-flex justify-content-center align-items-center">
							<span class="icon-play"></span>
						</a>
					</div>
					<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section-bold mb-4 mt-md-5">
	          	<div class="ml-md-0">
		            <h2 class="mb-4">"MealKit"에 방문해주셔서 &nbsp&nbsp 감사합니다!</h2>
	            </div>
	          </div>
	          <div class="pb-md-5">
	          	<p>저희는 설립 이후로 항상 최고의 재료와 최고의 레시피만을 고집해왔습니다. 그 결과 저희는 손에 꼽히는 기업중 하나로 떠올랐고, 이제는 여러분들께 좀 더 저렴한 가격으로 제공하면서 최고의 맛을 느끼실 수 있게 준비하고 노력하고 있습니다.</p>
							<p>사용하는 모든 재료는 당일에 들어와 당일에 모두 처리하고 있습니다. 여러분들의 건강과 입맛을 책임지기 위해서 항상 Fresh하고 Delicious한 제품들로만 구성하기 위해 최고의 미식가와 연구진들이 분포하고 있습니다.</p>
							<p><a th:href="@{/shoplist}" class="btn btn-primary">지금 바로 구매하기</a></p>
						</div>
					</div>
				</div>
			</div>
		</section>

	<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">궁금하신건 언제나 환영 !</h2>
          	<span>궁금하신점을 오른쪽 바에 적어서 제출해주세요! 챗봇으로 연결이 됩니다.</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="문의내용">
                <input type="submit" value="문의하기" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/img/aboutbanner.jpg);">
    	<div class="container">
    		<div class="row justify-content-center py-5">
    			<div class="col-md-10">
		    		<div class="row">
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" th:data-number="${sum}" style="font-size:42px">0</strong>
		                <span style="font-size:22px">지금까지 팔린 "MealKit"</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="51" style="font-size:42px">0</strong>
		                <span style="font-size:22px">전국에 있는 매장 수</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="5" style="font-size:42px">0</strong>
		                <span style="font-size:22px">파트너 기업</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" th:data-number="${custSum}" style="font-size:42px">0</strong>
		                <span style="font-size:22px">총 회원</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>
		
		<section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
          	<span class="subheading">앞으로 나아가기 위한</span>
            <h2 class="mb-4">여러분들의 소중한 의견들을 반영한 결과</h2>
            <p>저희의 노력만으로는 절대 성장하지 못했을겁니다. 다만 저희에게는 여러분들의 피드백과 격려가 있었기에 지금까지 올 수 있었습니다.</p>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url(/img/home3.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">간편하게 해먹을 수 있게 준비가 다 되어있어 좋네요. 식감은 바삭하기 보다는 좀 쫀득한 느낌이예요. 남편과 아이는 본인입맛 아니라고 많이 안먹었는데 전 맛있게 잘 먹었어요~ 양배추를 좀 더 추가하면 맛있을 것 같아요.</p>
                    <p class="name">연**</p>
                    <span class="position">소불고기 밀키트</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url(/img/home2.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">간편하게 해먹을 수 있게 준비가 다 되어있어 좋네요. 식감은 바삭하기 보다는 좀 쫀득한 느낌이예요. 남편과 아이는 본인입맛 아니라고 많이 안먹었는데 전 맛있게 잘 먹었어요~ 양배추를 좀 더 추가하면 맛있을 것 같아요.</p>
                    <p class="name">연**</p>
                    <span class="position">소불고기 밀키트</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url(/img/home1.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">간편하게 해먹을 수 있게 준비가 다 되어있어 좋네요.식감은 바삭하기 보다는 좀 쫀득한 느낌이예요.남편과 아이는 본인입맛 아니라고 많이 안먹었는데 전 맛있게 잘 먹었어요~ 양배추를 좀 더 추가하면 맛있을 것 같아요.</p>
                    <p class="name">연**</p>
                    <span class="position">소불고기 밀키트</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url(/img/home2.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">간편하게 해먹을 수 있게 준비가 다 되어있어 좋네요.식감은 바삭하기 보다는 좀 쫀득한 느낌이예요.남편과 아이는 본인입맛 아니라고 많이 안먹었는데 전 맛있게 잘 먹었어요~양배추를 좀 더 추가하면 맛있을 것 같아요.</p>
                    <p class="name">연**</p>
                    <span class="position">소불고기 밀키트</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url(/img/home2.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">간편하게 해먹을 수 있게 준비가 다 되어있어 좋네요. 식감은 바삭하기 보다는 좀 쫀득한 느낌이예요. 남편과 아이는 본인입맛 아니라고 많이 안먹었는데 전 맛있게 잘 먹었어요~ 양배추를 좀 더 추가하면 맛있을 것 같아요.</p>
                    <p class="name">연**</p>
                    <span class="position">소불고기 밀키트</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
			<div class="container">
				<div class="row no-gutters ftco-services">
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-shipped"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">전국 배송비 무료</h3>
                <span>3만원 이상 구매시</span>
              </div>
            </div>      
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-diet"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">당일 생산 ! 당일 배송 !</h3>
                <span>모든 상품은 항상 당일 생산 제품을 배송해드립니다</span>
              </div>
            </div>    
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-award"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">최고의 재료, 최고의 레시피</h3>
                <span>저희는 최고만을 만듭니다</span>
              </div>
            </div>      
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-customer-service"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">24시간 문의가능</h3>
                <span>언제나 실시간 상담</span>
              </div>
            </div>      
          </div>
        </div>
			</div>
		</section>