	<main class="content">
		<div class="container-fluid p-0">
				
			<span class="text-muted" style="font-size:30px;">2023-02-23</span>
			<h1 class="h3 mb-3">
				<strong>실시간</strong> 현재 매출 현황
			</h1>

			<div class="row">
				<div class="col-xl-12 col-xxl-12 d-flex">
					<div class="w-100">
						<div class="row">
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col mt-0">
												<h5 class="card-title">실시간 배송량</h5>
											</div>

											<div class="col-auto">
												<div class="stat text-primary">
													<i class="align-middle" data-feather="truck"></i>
												</div>
											</div>
										</div>
										<h1 class="mt-1 mb-3" id="nowShip"></h1>
										<div class="mb-0">
										<span class="text-muted">금일 누적</span>
											<span class="text-success" id="totalShip"> <i
												class="mdi mdi-arrow-bottom-right"></i>
											</span>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col mt-0">
												<h5 class="card-title">실시간 제품 판매수</h5>
											</div>

											<div class="col-auto">
												<div class="stat text-primary">
													<i class="align-middle" data-feather="shopping-cart"></i>
												</div>
											</div>
										</div>
										<h1 class="mt-1 mb-3" id="newItemCnt"></h1>
										<div class="mb-0">
										<span class="text-muted">금일 누적</span>
											<span class="text-success"> <i
												class="mdi mdi-arrow-bottom-right" id="totalItemCnt"></i>
											</span> 
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col mt-0">
												<h5 class="card-title">실시간 판매액</h5>
											</div>

											<div class="col-auto">
												<div class="stat text-primary">
													<i class="align-middle" data-feather="dollar-sign"></i>
												</div>
											</div>
										</div>
										<h1 class="mt-1 mb-3" id="nowTotalPrice"></h1>
										<div class="mb-0">
										<span class="text-muted">금일 누적</span>
											<span class="text-success"> <i
												class="mdi mdi-arrow-bottom-right" id="totalTotalPrice"></i>
											</span> 
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col mt-0">
												<h5 class="card-title">실시간 구매 확정률</h5>
											</div>

											<div class="col-auto">
												<div class="stat text-primary">
													<i class="align-middle" data-feather="users"></i>
												</div>
											</div>
										</div>
										<h1 class="mt-1 mb-3" id="nowConfirm"></h1>
										<div class="mb-0">
											<span class="text-muted">금일 누적</span>
											<span class="text-success"> <i
												class="mdi mdi-arrow-bottom-right" id="totalConfirm"></i>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col mt-0">
												<h5 class="card-title">주문건당 평균 판매개수</h5>
											</div>

											<div class="col-auto">
												<div class="stat text-primary">
													<i class="align-middle" data-feather="bar-chart"></i>
												</div>
											</div>
										</div>
										<h1 class="mt-1 mb-3" id="realtimeCnt"></h1>
										<div class="mb-0">
										<span class="text-muted">금일 누적</span>
											<span class="text-success" id="stackedCnt"> <i
												class="mdi mdi-arrow-bottom-right"></i> 
											</span> 
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col mt-0">
												<h5 class="card-title">주문건당 평균 판매금액</h5>
											</div>

											<div class="col-auto">
												<div class="stat text-success">
													<i class="align-middle" data-feather="bar-chart"></i>
												</div>
											</div>
										</div>
										<h1 class="mt-1 mb-3" id="realtimePrice"></h1>
										<div class="mb-0">
										<span class="text-muted">금일 누적</span>
											<span class="text-success" id="stackedPrice"> <i
												class="mdi mdi-arrow-bottom-right"></i>
											</span> 
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
				
				

				<div class="col-xl-12 col-xxl-12">
					<div class="card flex-fill w-100">
						<div class="card-header">
							<h5 class="card-title" style="font-size:17px; font-weight:500;">실시간 시간별 매출 차트</h5>
							<h6 class="card-subtitle text-muted"></h6>
						</div>
						<div class="card-body py-3" >
							<div class="chart chart-sm" id="chartData">
								<canvas id="chartjs-dashboard-line"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>




			<div class="row">
				





						<div class="col-12 col-lg-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title"  style="font-size:17px; font-weight:500;">실시간 전일 대비 판매금액</h5>
									<h6 class="card-subtitle text-muted"></h6>
								</div>
								<div class="card-body">
									<div class="chart" id="lastDayData">
										<canvas id="chartjs-bar"></canvas>
									</div>
								</div>
							</div>
						</div>
							
							

					
					
					
					
				


			</div>

			<div class="row">
				<div class="col-6 col-lg-6 col-xxl-6 d-flex">
					<div class="card flex-fill">
						<div class="card-header">

							<h5 class="card-title mb-0" style="font-size:17px; font-weight:500;">인기 판매 상품 TOP 10</h5>
						</div>
						<table class="table table-hover my-0">
							<thead>
								<tr>
									<th>순위</th>
									<th>상품명</th>
									<th class="d-none d-xl-table-cell">누적 금액</th>
									<th>할인률</th>
									<th class="d-none d-md-table-cell">상품가격</th>
									<th class="d-none d-xl-table-cell">현재까지 판매된 개수</th>
								</tr>
							</thead>
							
							<!-- 상품 리스트 -->
							<tbody id="belowList">
								<!-- <tr th:each="product : ${productList}" id="productTable">
									<td th:text=${product.name}>둘이 먹다 죽어도 모르는 한식 세트</td>
									<td th:text=${product.totPrice} class="d-none d-xl-table-cell">365,000원</td>
									<td th:text=${product.salePct}><span class="badge bg-success">70%</span></td>
									<th th:text=${product.sale} class="d-none d-md-table-cell">28,000원</th>
									<td th:text=${product.totCnt} class="d-none d-xl-table-cell">54개</td>
								</tr> -->
							</tbody>
						</table>
						
						
					</div>
				</div>
				
				
				<div class="col-3 col-md-3 col-xxl-3 d-flex order-2 order-xxl-3">
					<div class="card flex-fill w-100">
						<div class="card-header">

							<h5  class="card-title mb-0" style="font-size:17px; font-weight:500;">나이대별 판매 비율</h5>

							
							
							
						</div>
						<div class="card-body d-flex">
							<div class="align-self-center w-100">
								<div class="py-3">
									<div class="chart chart-xs" id="ageData">
										<canvas id="chartjs-dashboard-pie"></canvas>
									</div>
								</div>

								<table class="table mb-0">
									<tbody>
										<tr class="card-title" >
											<td>연령대</td>
											<td class="text-end">판매된 개수</td>
											
										</tr>
										
										<tr>
											
											<tr id="selected10">
											<td style="padding:0.1rem 0.1rem;">10대</td>
											<td class="text-end" style="padding:0.1rem 0.1rem;" id="age10Sales"></td>
											</tr>
											
											<tr id="selected20">
											<td style="padding:0.1rem 0.1rem;">20대</td>
											<td class="text-end" style="padding:0.1rem 0.1rem;" id="age20Sales"></td>
											</tr>
											
											
									
										
										<tr>
											
											<tr id="selected30">
											<td style="padding:0.1rem 0.1rem;">30대</td>
											<td class="text-end" style="padding:0.1rem 0.1rem;" id="age30Sales"></td>
											</tr>
											
											<tr id="selected40">
											<td style="padding:0.1rem 0.1rem;">40대</td>
											<td class="text-end" style="padding:0.1rem 0.1rem;" id="age40Sales"></td>
											</tr>
											
									
										<tr>
											<tr id="selected50">
											<td style="padding:0.1rem 0.1rem;">50대</td>
											<td class="text-end" style="padding:0.1rem 0.1rem;" id="age50Sales"></td>
											</tr>
											<tr id="selected60">
											<td style="padding:0.1rem 0.1rem;">60대</td>
											<td class="text-end" style="padding:0.1rem 0.1rem;" id="age60Sales"></td>
											</tr>
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				
				
				
				<div class="col-3 col-md-3 col-xxl-3 d-flex order-2 order-xxl-3">
					<div class="card flex-fill w-100">
						<div class="card-header">

							<!-- <h5 th:if="${#strings.equals(gender,'noGender')} and ${#strings.equals(age,'noAge')}" class="card-title mb-0">남녀 판매 비율</h5>
							<h5 th:if="${#strings.equals(gender,'noGender')} and !${#strings.equals(age,'noAge')}" class="card-title mb-0" th:text="${age}+'대 남녀 판매 비율'"></h5>
							<h5 th:if="!${#strings.equals(gender,'noGender')} and !${#strings.equals(age,'noAge')}" class="card-title mb-0" th:text="${age}+'대 남녀 판매 비율'"></h5> -->
							
							<h5 class="card-title mb-0" style="font-size:17px; font-weight:500;">남녀 판매 비율</h5>
							
							
						</div>
						<div class="card-body d-flex">
							<div class="align-self-center w-100">
								<div class="py-3">
									<div class="chart chart-xs" id="genderData">
										<canvas id="chartjs-dashboard-pie2"></canvas>
									</div>
								</div>

								<table class="table mb-0">
									<tbody>
										<tr class="card-title">
											<td>성별</td>
											<td class="text-end">판매된 개수</td>
										</tr>
										<tr id="men">
											<td id="menCntTitle" style="padding:0.4rem 0.4rem;">남성</td>
											<td class="text-end" id="menCnt" style="padding:0.4rem 0.4rem;"></td>
											
										</tr>
										<tr id="women">
											<td id="womenCntTitle" style="padding:0.4rem 0.4rem;">여성</td>
											<td class="text-end" id="womenCnt" style="padding:0.4rem 0.4rem;"></td>
											
											
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				
				
			</div>

		</div>
	</main>
</div>
</div>






<script th:src="@{/js/app.js}"></script>
<script>

function priceToString(price) {
    return price.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
}

var chart;
var maleSales;
var femaleSales;
var max;
var age10Sales;
var age20Sales;
var age30Sales;
var age40Sales;
var age50Sales;
var age60Sales;
var lastDayChart;

function getRealTimeData(){	
	$.ajax({
		url:'/admin/getRealTimeData',
		method:'GET',
		async:false,
		dataType:'JSON',
		success: function(data){
			
			var nowShip = priceToString(data.nowDash.totalShip);
			var totalShip = priceToString(data.totalDash.totalShip);
			var nowItemCnt = priceToString(data.nowDash.totalItemCnt);
			var totalItemCnt = priceToString(data.totalDash.totalItemCnt);
			var nowPrice = priceToString(data.nowDash.totalPrice);
			var totalPrice = priceToString(data.totalDash.totalPrice);
			
			
			
			$('#nowShip').text(nowShip+'건');
			$('#totalShip').text(totalShip+'건');
			
			$('#newItemCnt').text(nowItemCnt+'개');
			$('#totalItemCnt').text(totalItemCnt+'개');	
			
			$('#nowTotalPrice').text(nowPrice+'원');
			$('#totalTotalPrice').text(totalPrice+'원');
			
			$('#nowConfirm').text(data.nowDash.confirmation+'%');
			$('#totalConfirm').text(data.totalDash.confirmation+'%');
			
			//주문건당 평균판매개수/판매금액
			$('#stackedCnt').text(data.orderavg.stackedCnt+'개');
			$('#stackedPrice').text(priceToString(data.orderavg.stackedPrice)+'원');
			$('#realtimeCnt').text(data.orderavg.realtimeCnt+'개');
			$('#realtimePrice').text(priceToString(data.orderavg.realtimePrice)+'원');

			//매출차트
			chart=data.chart;
			
			max = chart[0];
			for(var i=0; i<chart.length; i++){
				if(chart[i] > max){
					max = chart[i];
				}
				
			}
			
			//성별 판매량
			maleSales=data.genderData[0].male;
			femaleSales=data.genderData[0].female;
			if(maleSales==0&&femaleSales==0){
				maleSales=-1;
				femaleSales=-1;
			}
			if(maleSales==-1&&femaleSales==-1){
				$('#menCnt').text('0개');
				$('#womenCnt').text('0개');
			}else{
				$('#menCnt').text(maleSales+'개');
				$('#womenCnt').text(femaleSales+'개');
			}
			//나이대별 판매량
			age10Sales=data.ageData[0].age10Sales;
			age20Sales=data.ageData[0].age20Sales;
			age30Sales=data.ageData[0].age30Sales;
			age40Sales=data.ageData[0].age40Sales;
			age50Sales=data.ageData[0].age50Sales;
			age60Sales=data.ageData[0].age60Sales;
			$('#age10Sales').text(age10Sales+'개');
			$('#age20Sales').text(age20Sales+'개');
			$('#age30Sales').text(age30Sales+'개');
			$('#age40Sales').text(age40Sales+'개');
			$('#age50Sales').text(age50Sales+'개');
			$('#age60Sales').text(age60Sales+'개');
			
			var num = 1;
			var resultList = new Array;
			var resultList = data.productList;
			
			var appendedList = '';
			
			$.each(resultList, function(key, value) {
				appendedList += '<tr>'; 
				
				appendedList += '<td>' + num++ + '</td>'; 
				appendedList += '<td>' + value.name + '</td>'; 
				appendedList += '<td>' + value.totPrice + '원' + '</td>'; 
				appendedList += '<td>' + value.salePct +'%'+ '</td>'; 
				appendedList += '<td>' + value.sale + '원' + '</td>'; 
				appendedList += '<td class="text-center">' + value.totCnt + '개' + '</td>'; 
				appendedList += '</tr>'; 
			});
			
			$('#belowList').html(appendedList);
			
			lastDayChart = data.lastDayChart;
			
			
		}
		
	});
}


$(document).ready(function(){
	getRealTimeData();
	llchart();
	genderChart();
	ageChart();
	lastChart();
	
	setInterval(function (){
		getRealTimeData();
		$('#chartjs-dashboard-line').remove();
		$('#chartjs-dashboard-pie').remove();
		$('#chartjs-dashboard-pie2').remove();
		$('#chartjs-bar').remove();
		$('.chartjs-size-monitor').remove();
		$('#chartData').append('<canvas id="chartjs-dashboard-line"></canvas>')
		$('#ageData').append('<canvas id="chartjs-dashboard-pie"></canvas>')
		$('#genderData').append('<canvas id="chartjs-dashboard-pie2"></canvas>')
		$('#lastDayData').append('<canvas id="chartjs-bar"></canvas>')
		genderChart();
		ageChart();
		llchart();
		lastChart();
	}, 10000);
	
});




function ageChart(){
	// Pie chart
	new Chart(document.getElementById("chartjs-dashboard-pie"), {
		type : "bar",
		data : {
			labels : [ "10대", "20대", "30대", "40대", "50대", "60대" ],
			datasets : [ {
				data : [age10Sales,age20Sales,age30Sales,age40Sales,age50Sales,age60Sales],
				backgroundColor : [window.theme.warning, window.theme.warning, window.theme.primary, window.theme.primary, window.theme.info, window.theme.info ],
				borderWidth : 5
			} ]
		},
		options : {
			responsive : !window.MSInputMethodContext,
			maintainAspectRatio : false,
			legend : {
				display : false
			},
			cutoutPercentage : 75
			
		}
	});
}


function genderChart(){
	// Pie chart
	new Chart(document.getElementById("chartjs-dashboard-pie2"), {
		type : "pie",
		data : {
			labels : [ "남성 (개수)", "여성 (개수)"],
			datasets : [ {
				data : [ maleSales, femaleSales],
				backgroundColor : [ window.theme.primary, window.theme.danger ],
				borderWidth : 5
			} ]
		},
		options : {
			responsive : !window.MSInputMethodContext,
			maintainAspectRatio : false,
			legend : {
				display : false
			},
			cutoutPercentage : 75
		}
	});
}

function llchart(){
		
		var ctx = document.getElementById("chartjs-dashboard-line").getContext("2d");
		var gradient = ctx.createLinearGradient(0, 0, 0, 225);
		gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
		gradient.addColorStop(1, "rgba(215, 227, 244, 0)");
		// Line chart
		new Chart(document.getElementById("chartjs-dashboard-line"), {
			type : "line",
			data : {
				labels : [ "00:00", "01:00", "02:00", "03:00", "04:00",
						"05:00", "06:00", "07:00", "08:00", "09:00", "10:00",
						"11:00", "12:00", "13:00", "14:00", "15:00", "16:00",
						"17:00", "18:00", "19:00", "20:00", "21:00", "22:00",
						"23:00" ],
				datasets : [ {
					label : "판매금 (원): ",
					fill : true,
					backgroundColor : gradient,
					borderColor : window.theme.primary,
					data : chart
				} ]
			},
			options : {
				maintainAspectRatio : false,
				legend : {
					display : false
				},
				tooltips : {
					intersect : false
				},
				hover : {
					intersect : true
				},
				plugins : {
					filler : {
						propagate : false
					}
				},
				scales : {
					xAxes : [ {
						reverse : true,
						gridLines : {
							color : "rgba(0,0,0,0.0)"
						}
					} ],
					yAxes : [ {
						ticks : {
							stepSize : parseInt(max/3/1000)*1000,
							
						},
						display : true,
						borderDash : [ 3, 3 ],
						gridLines : {
							color : "rgba(0,0,0,0.0)"
						}
					} ]
				}
			}
		});
}

function lastChart(){
		
		new Chart(document.getElementById("chartjs-bar"), {
			type : "bar",
			data : {
				labels : [ "00:00", "01:00", "02:00", "03:00", "04:00",
					"05:00", "06:00", "07:00", "08:00", "09:00", "10:00",
					"11:00", "12:00", "13:00", "14:00", "15:00", "16:00",
					"17:00", "18:00", "19:00", "20:00", "21:00", "22:00",
					"23:00", "24:00" ],
				datasets : [ {
					label : "어제",
					backgroundColor : "#dee2e6",
					borderColor : "#dee2e6",
					hoverBackgroundColor : "#dee2e6",
					hoverBorderColor : "#dee2e6",
					data : lastDayChart,
					barPercentage : .75,
					categoryPercentage : .5
				}, {
					label : "오늘",
					backgroundColor : window.theme.primary,
					borderColor : window.theme.primary,
					hoverBackgroundColor : window.theme.primary,
					hoverBorderColor : window.theme.primary,
					data : chart,
					barPercentage : .75,
					categoryPercentage : .5
				} ]
			},
			options : {
				maintainAspectRatio : false,
				legend : {
					display : false
				},
				scales : {
					yAxes : [ {
						gridLines : {
							display : false
						},
						stacked : false,
						
					} ],
					xAxes : [ {
						stacked : false,
						gridLines : {
							color : "transparent"
						}
					} ]
				}
			}
		});
}
</script>










</body>

</html>