
	

	<main class="content">
		<div class="container-fluid p-0">

			<h1 class="h3 mb-3">
				<strong>실시간</strong> 현재 매출 현황
			</h1>

			<div class="row">
				<div class="col-xl-12 col-xxl-12 d-flex">
					<div class="w-100">
						<div class="row">
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col mt-0">
												<h5 class="card-title">실시간 배송량</h5>
											</div>

											<div class="col-auto">
												<div class="stat text-primary">
													<i class="align-middle" data-feather="truck"></i>
												</div>
											</div>
										</div>
										<h1 class="mt-1 mb-3" id="nowShip"></h1>
										<div class="mb-0">
											<span class="text-danger" id="totalShip"> <i
												class="mdi mdi-arrow-bottom-right"></i> -3.65%
											</span> <span class="text-muted">누적</span>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col mt-0">
												<h5 class="card-title">실시간 제품 판매수</h5>
											</div>

											<div class="col-auto">
												<div class="stat text-primary">
													<i class="align-middle" data-feather="users"></i>
												</div>
											</div>
										</div>
										<h1 class="mt-1 mb-3" id="newItemCnt"></h1>
										<div class="mb-0">
											<span class="text-success"> <i
												class="mdi mdi-arrow-bottom-right" id="totalItemCnt"></i>
											</span> <span class="text-muted">누적</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col mt-0">
												<h5 class="card-title">실시간 판매액</h5>
											</div>

											<div class="col-auto">
												<div class="stat text-primary">
													<i class="align-middle" data-feather="dollar-sign"></i>
												</div>
											</div>
										</div>
										<h1 class="mt-1 mb-3" id="nowTotalPrice"></h1>
										<div class="mb-0">
											<span class="text-success"> <i
												class="mdi mdi-arrow-bottom-right" id="totalTotalPrice"></i>
											</span> <span class="text-muted">누적</span>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col mt-0">
												<h5 class="card-title">실시간 구매 확정률</h5>
											</div>

											<div class="col-auto">
												<div class="stat text-primary">
													<i class="align-middle" data-feather="shopping-cart"></i>
												</div>
											</div>
										</div>
										<h1 class="mt-1 mb-3" id="nowConfirm"></h1>
										<div class="mb-0">
											<span class="text-danger"> <i
												class="mdi mdi-arrow-bottom-right" id="totalConfirm"></i>
											</span> <span class="text-muted">누적</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col mt-0">
												<h5 class="card-title">주문건당 평균 판매개수</h5>
											</div>

											<div class="col-auto">
												<div class="stat text-primary">
													<i class="align-middle" data-feather="truck"></i>
												</div>
											</div>
										</div>
										<h1 class="mt-1 mb-3" id="realtimeCnt"></h1>
										<div class="mb-0">
											<span class="text-danger" id="stackedCnt"> <i
												class="mdi mdi-arrow-bottom-right"></i> 
											</span> <span class="text-muted">누적</span>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col mt-0">
												<h5 class="card-title">주문건당 평균 판매금액</h5>
											</div>

											<div class="col-auto">
												<div class="stat text-primary">
													<i class="align-middle" data-feather="users"></i>
												</div>
											</div>
										</div>
										<h1 class="mt-1 mb-3" id="realtimePrice"></h1>
										<div class="mb-0">
											<span class="text-success" id="stackedPrice"> <i
												class="mdi mdi-arrow-bottom-right"></i>
											</span> <span class="text-muted">누적</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
				
				

				<div class="col-xl-12 col-xxl-12">
					<div class="card flex-fill w-100">
						<div class="card-header">
							<h5 class="card-title">2023-01-27</h5>
							<h6 class="card-subtitle text-muted">실시간 시간별 매출 차트</h6>
						</div>
						<div class="card-body py-3" id="reloadtest">
							<div class="chart chart-sm" id="chartData">
								<canvas id="chartjs-dashboard-line"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>




			<div class="row">
				





						<div class="col-12 col-lg-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">2023-01-27 실시간 전일 대비 판매금액</h5>
									<h6 class="card-subtitle text-muted">총 접속한 사용자와 실제로 구매까지 이어진 회원의 비율로 구합니다.</h6>
								</div>
								<div class="card-body">
									<div class="chart">
										<canvas id="chartjs-bar"></canvas>
									</div>
								</div>
							</div>
						</div>
							
							

					
					
					
					
				


			</div>

			<div class="row">
				<div class="col-6 col-lg-6 col-xxl-6 d-flex">
					<div class="card flex-fill">
						<div class="card-header">

							<h5 class="card-title mb-0">인기 판매 상품 TOP 10</h5>
						</div>
						<table class="table table-hover my-0">
							<thead>
								<tr>
									<th>상품명</th>
									<th class="d-none d-xl-table-cell">누적 금액</th>
									<th>할인률</th>
									<th class="d-none d-md-table-cell">상품가격</th>
									<th class="d-none d-xl-table-cell">현재까지 판매된 개수</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>둘이 먹다 죽어도 모르는 한식 세트</td>
									<td class="d-none d-xl-table-cell">365,000원</td>
									<td><span class="badge bg-success">70%</span></td>
									<th class="d-none d-md-table-cell">28,000원</th>
									<td class="d-none d-xl-table-cell">54개</td>
								</tr>
								<tr>
									<td>사와디캅 팟타이</td>
									<td class="d-none d-xl-table-cell">231,200원</td>
									<td><span class="badge bg-danger">30%</span></td>
									<th class="d-none d-md-table-cell">28,000원</th>
									<td class="d-none d-xl-table-cell">44개</td>
								</tr>
								<tr>
									<td>알찬 이탈리안 볼로네제라자냐</td>
									<td class="d-none d-xl-table-cell">131,200원</td>
									<td><span class="badge bg-success">30%</span></td>
									<th class="d-none d-md-table-cell">28,000원</th>
									<td class="d-none d-xl-table-cell">31개</td>
								</tr>
								<tr>
									<td>알찬 두부 한 모 우삼겹 된장찌개</td>
									<td class="d-none d-xl-table-cell">110,000원</td>
									<td><span class="badge bg-warning">40%</span></td>
									<th class="d-none d-md-table-cell">28,000원</th>
									<td class="d-none d-xl-table-cell">30개</td>
								</tr>
								<tr>
									<td>얼큰한 꽂개탕</td>
									<td class="d-none d-xl-table-cell">109,000원</td>
									<td><span class="badge bg-success">60%</span></td>
									<th class="d-none d-md-table-cell">28,000원</th>
									<td class="d-none d-xl-table-cell">28개</td>
								</tr>
								<tr>
									<td>알찬 두부 한 모 우삼겹 된장찌개</td>
									<td class="d-none d-xl-table-cell">101,000원</td>
									<td><span class="badge bg-success">80%</span></td>
									<th class="d-none d-md-table-cell">28,000원</th>
									<td class="d-none d-xl-table-cell">26개</td>
								</tr>
								<tr>
									<td>알찬 두부 한 모 우삼겹 된장찌개</td>
									<td class="d-none d-xl-table-cell">98,000원</td>
									<td><span class="badge bg-success">10%</span></td>
									<th class="d-none d-md-table-cell">28,000원</th>
									<td class="d-none d-xl-table-cell">22개</td>
								</tr>
								<tr>
									<td>알찬 두부 한 모 우삼겹 된장찌개</td>
									<td class="d-none d-xl-table-cell">91,000원</td>
									<td><span class="badge bg-warning">20%</span></td>
									<th class="d-none d-md-table-cell">28,000원</th>
									<td class="d-none d-xl-table-cell">25개</td>
								</tr>
							</tbody>
						</table>
						
						
					</div>
				</div>
				
				
				<div class="col-3 col-md-3 col-xxl-3 d-flex order-2 order-xxl-3">
					<div class="card flex-fill w-100">
						<div class="card-header">

							<h5  class="card-title mb-0">나이대별 판매 비율</h5>

							
							
							
						</div>
						<div class="card-body d-flex">
							<div class="align-self-center w-100">
								<div class="py-3">
									<div class="chart chart-xs" id="ageData">
										<canvas id="chartjs-dashboard-pie"></canvas>
									</div>
								</div>

								<table class="table mb-0">
									<tbody>
										<tr class="card-title" >
											<td>연령대</td>
											<td class="text-end">판매된 개수</td>
											
										</tr>
										
										<tr>
											
											<tr id="selected10">
											<td style="padding:0.1rem 0.1rem;">10대</td>
											<td class="text-end" style="padding:0.1rem 0.1rem;" id="age10Sales"></td>
											</tr>
											
											<tr id="selected20">
											<td style="padding:0.1rem 0.1rem;">20대</td>
											<td class="text-end" style="padding:0.1rem 0.1rem;" id="age20Sales"></td>
											</tr>
											
											
									
										
										<tr>
											
											<tr id="selected30">
											<td style="padding:0.1rem 0.1rem;">30대</td>
											<td class="text-end" style="padding:0.1rem 0.1rem;" id="age30Sales"></td>
											</tr>
											
											<tr id="selected40">
											<td style="padding:0.1rem 0.1rem;">40대</td>
											<td class="text-end" style="padding:0.1rem 0.1rem;" id="age40Sales"></td>
											</tr>
											
									
										<tr>
											<tr id="selected50">
											<td style="padding:0.1rem 0.1rem;">50대</td>
											<td class="text-end" style="padding:0.1rem 0.1rem;" id="age50Sales"></td>
											</tr>
											<tr id="selected60">
											<td style="padding:0.1rem 0.1rem;">60대</td>
											<td class="text-end" style="padding:0.1rem 0.1rem;" id="age60Sales"></td>
											</tr>
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				
				
				
				<div class="col-3 col-md-3 col-xxl-3 d-flex order-2 order-xxl-3">
					<div class="card flex-fill w-100">
						<div class="card-header">

							<!-- <h5 th:if="${#strings.equals(gender,'noGender')} and ${#strings.equals(age,'noAge')}" class="card-title mb-0">남녀 판매 비율</h5>
							<h5 th:if="${#strings.equals(gender,'noGender')} and !${#strings.equals(age,'noAge')}" class="card-title mb-0" th:text="${age}+'대 남녀 판매 비율'"></h5>
							<h5 th:if="!${#strings.equals(gender,'noGender')} and !${#strings.equals(age,'noAge')}" class="card-title mb-0" th:text="${age}+'대 남녀 판매 비율'"></h5> -->
							
							<h5 class="card-title mb-0">남녀 판매 비율</h5>
							
							
						</div>
						<div class="card-body d-flex">
							<div class="align-self-center w-100">
								<div class="py-3">
									<div class="chart chart-xs" id="genderData">
										<canvas id="chartjs-dashboard-pie2"></canvas>
									</div>
								</div>

								<table class="table mb-0">
									<tbody>
										<tr class="card-title">
											<td>성별</td>
											<td class="text-end">판매된 개수</td>
										</tr>
										<tr id="men">
											<td id="menCntTitle" style="padding:0.4rem 0.4rem;">남성</td>
											<td class="text-end" id="menCnt" style="padding:0.4rem 0.4rem;"></td>
											
										</tr>
										<tr id="women">
											<td id="womenCntTitle" style="padding:0.4rem 0.4rem;">여성</td>
											<td class="text-end" id="womenCnt" style="padding:0.4rem 0.4rem;"></td>
											
											
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				
				
			</div>

		</div>
	</main>
</div>
</div>

<script th:src="@{/js/app.js}"></script>
<script>
var chart;
var maleSales;
var femaleSales;
var max;
var age10Sales;
var age20Sales;
var age30Sales;
var age40Sales;
var age50Sales;
var age60Sales;
function getRealTimeData(){	
	$.ajax({
		url:'/admin/getRealTimeData',
		method:'GET',
		async:false,
		dataType:'JSON',
		success: function(data){
			
			
			$('#nowShip').text(data.nowDash.totalShip);
			$('#totalShip').text(data.totalDash.totalShip);
			
			$('#newItemCnt').text(data.nowDash.totalItemCnt);
			$('#totalItemCnt').text(data.totalDash.totalItemCnt);	
			
			$('#nowTotalPrice').text(data.nowDash.totalPrice);
			$('#totalTotalPrice').text(data.totalDash.totalPrice);
			
			$('#nowConfirm').text(data.nowDash.confirmation+'%');
			$('#totalConfirm').text(data.totalDash.confirmation+'%');
			
			//주문건당 평균판매개수/판매금액
			$('#stackedCnt').text(data.orderavg.stackedCnt+'개');
			$('#stackedPrice').text(data.orderavg.stackedPrice+'원');
			$('#realtimeCnt').text(data.orderavg.realtimeCnt+'개');
			$('#realtimePrice').text(data.orderavg.realtimePrice+'원');

			//매출차트
			chart=data.chart;
			
			max = chart[0];
			for(var i=0; i<chart.length; i++){
				if(chart[i] > max){
					max = chart[i];
				}
				
			}
			
			//성별 판매량
			maleSales=data.genderData[0].male;
			femaleSales=data.genderData[0].female;
			if(maleSales==0&&femaleSales==0){
				maleSales=-1;
				femaleSales=-1;
			}
			$('#menCnt').text(maleSales+'개');
			$('#womenCnt').text(femaleSales+'개');
			
			//나이대별 판매량
			age10Sales=data.ageData[0].age10Sales;
			age20Sales=data.ageData[0].age20Sales;
			age30Sales=data.ageData[0].age30Sales;
			age40Sales=data.ageData[0].age40Sales;
			age50Sales=data.ageData[0].age50Sales;
			age60Sales=data.ageData[0].age60Sales;
			$('#age10Sales').text(age10Sales+'개');
			$('#age20Sales').text(age20Sales+'개');
			$('#age30Sales').text(age30Sales+'개');
			$('#age40Sales').text(age40Sales+'개');
			$('#age50Sales').text(age50Sales+'개');
			$('#age60Sales').text(age60Sales+'개');
			
			
		}
		
	});
}
function reloadChart(){
	$('#reloadtest').load(location.href+" #reloadData");
}

$(document).ready(function(){
	getRealTimeData();
	llchart();
	genderChart();
	ageChart()
	
	setInterval(function (){
		getRealTimeData();
		$('#chartjs-dashboard-line').remove();
		$('#chartjs-dashboard-pie').remove();
		$('#chartjs-dashboard-pie2').remove();
		$('.chartjs-size-monitor').remove();
		$('#chartData').append('<canvas id="chartjs-dashboard-line"></canvas>')
		$('#ageData').append('<canvas id="chartjs-dashboard-pie"></canvas>')
		$('#genderData').append('<canvas id="chartjs-dashboard-pie2"></canvas>')
		genderChart();
		ageChart();
		llchart();
	}, 3000);
	
});




function ageChart(){
	// Pie chart
	new Chart(document.getElementById("chartjs-dashboard-pie"), {
		type : "bar",
		data : {
			labels : [ "10대", "20대", "30대", "40대", "50대", "60대" ],
			datasets : [ {
				data : [age10Sales,age20Sales,age30Sales,age40Sales,age50Sales,age60Sales],
				backgroundColor : [window.theme.warning, window.theme.warning, window.theme.primary, window.theme.primary, window.theme.info, window.theme.info ],
				borderWidth : 5
			} ]
		},
		options : {
			responsive : !window.MSInputMethodContext,
			maintainAspectRatio : false,
			legend : {
				display : false
			},
			cutoutPercentage : 75
			
		}
	});
}


function genderChart(){
	// Pie chart
	new Chart(document.getElementById("chartjs-dashboard-pie2"), {
		type : "pie",
		data : {
			labels : [ "남성 (개수)", "여성 (개수)"],
			datasets : [ {
				data : [ maleSales, femaleSales],
				backgroundColor : [ window.theme.primary, window.theme.danger ],
				borderWidth : 5
			} ]
		},
		options : {
			responsive : !window.MSInputMethodContext,
			maintainAspectRatio : false,
			legend : {
				display : false
			},
			cutoutPercentage : 75
		}
	});
}

function llchart(){
		
		var ctx = document.getElementById("chartjs-dashboard-line").getContext("2d");
		var gradient = ctx.createLinearGradient(0, 0, 0, 225);
		gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
		gradient.addColorStop(1, "rgba(215, 227, 244, 0)");
		// Line chart
		new Chart(document.getElementById("chartjs-dashboard-line"), {
			type : "line",
			data : {
				labels : [ "00:00", "01:00", "02:00", "03:00", "04:00",
						"05:00", "06:00", "07:00", "08:00", "09:00", "10:00",
						"11:00", "12:00", "13:00", "14:00", "15:00", "16:00",
						"17:00", "18:00", "19:00", "20:00", "21:00", "22:00",
						"23:00" ],
				datasets : [ {
					label : "판매금 (원): ",
					fill : true,
					backgroundColor : gradient,
					borderColor : window.theme.primary,
					data : chart
				} ]
			},
			options : {
				maintainAspectRatio : false,
				legend : {
					display : false
				},
				tooltips : {
					intersect : false
				},
				hover : {
					intersect : true
				},
				plugins : {
					filler : {
						propagate : false
					}
				},
				scales : {
					xAxes : [ {
						reverse : true,
						gridLines : {
							color : "rgba(0,0,0,0.0)"
						}
					} ],
					yAxes : [ {
						ticks : {
							stepSize : parseInt(max/3/1000)*1000,
							max : max
						},
						display : true,
						borderDash : [ 3, 3 ],
						gridLines : {
							color : "rgba(0,0,0,0.0)"
						}
					} ]
				}
			}
		});
}

	document.addEventListener("DOMContentLoaded", function() {
		
		new Chart(document.getElementById("chartjs-bar"), {
			type : "bar",
			data : {
				labels : [ "00:00", "01:00", "02:00", "03:00", "04:00",
					"05:00", "06:00", "07:00", "08:00", "09:00", "10:00",
					"11:00", "12:00", "13:00", "14:00", "15:00", "16:00",
					"17:00", "18:00", "19:00", "20:00", "21:00", "22:00",
					"23:00", "24:00" ],
				datasets : [ {
					label : "어제",
					backgroundColor : "#dee2e6",
					borderColor : "#dee2e6",
					hoverBackgroundColor : "#dee2e6",
					hoverBorderColor : "#dee2e6",
					data : [ 45000, 37000, 41000, 55000, 62000, 45000, 55000, 73000, 60000, 76000, 48000, 79000, 80000, 45000, 37000, 41000, 55000, 62000, 45000, 55000, 73000, 60000, 76000, 48000, 79000, 80000],
					barPercentage : .75,
					categoryPercentage : .5
				}, {
					label : "오늘",
					backgroundColor : window.theme.primary,
					borderColor : window.theme.primary,
					hoverBackgroundColor : window.theme.primary,
					hoverBorderColor : window.theme.primary,
					data : [ 69000, 46000, 30000, 48000, 52000, 51000, 44000, 53000, 62000, 79000, 51000, 68000, 40000, 69000, 46000, 30000, 48000, 52000, 51000, 44000, 53000, 62000, 79000, 51000, 68000, 40000],
					barPercentage : .75,
					categoryPercentage : .5
				} ]
			},
			options : {
				maintainAspectRatio : false,
				legend : {
					display : false
				},
				scales : {
					yAxes : [ {
						gridLines : {
							display : false
						},
						stacked : false,
						
					} ],
					xAxes : [ {
						stacked : false,
						gridLines : {
							color : "transparent"
						}
					} ]
				}
			}
		});
	});
</script>










</body>

</html>