


	<nav class="navbar navbar-expand navbar-light navbar-bg">
		<a class="sidebar-toggle js-sidebar-toggle"> <i
			class="hamburger align-self-center"></i>
		</a>

		<div class="navbar-collapse collapse">
			<ul class="navbar-nav navbar-align">
				<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown"> <img th:src="@{/img/cook.jpg}" class="avatar img-fluid rounded me-1"/> <span class="text-dark">킹갓 칠색조</span></a>
					<div class="dropdown-menu dropdown-menu-end">
						<a class="dropdown-item" th:href="@{/logout}">Log out</a>
					</div></li>
			</ul>
		</div>
	</nav>
